{% extends "shared/_layout" %} 

{% set mode="patient" %}

{% block content %} 

<div class="patient-content">


  <section class="section section--jumbo">
    <div class='section--jumbo-background is-sm-up' style="background-image:url('/images/photo/condition/condition--desktop.jpg');"></div>
    <div class='section--jumbo-background is-mobile-only' style="background-image:url('/images/photo/condition/condition--mobile.jpg');"></div>
    
    <div class="container">
    
          <h1>Focus on Juvenile Idiopathic Arthritis</h1>
       
    </div>
  </section>

  <section class="section section--pad-mid section--pad-top-none--mobile">
    <div class='container'>
      <div class='row'>
        <div class='col--5 push--1'>
          <h4>What is juvenile idiopathic arthritis?</h4>
          <p>Juvenile idiopathic arthritis (JIA) is a type of arthritis that affects children and starts before the age of 16. It is the most common type of arthritis in children and affects around 16 in every 100,000 children in Europe. JIA is an idiopathic disease, which means we do not know exactly what causes it.<sup>1 </sup></p>

          <p>There are six different types (known as subtypes) of JIA, each of which has a slightly different pattern of symptoms.<sup>2</sup></p>
        </div>

        <div class='col--5'>
          <img class='is-blocked' alt='List of 6 types of juvenile idiopathic arthritis' src='/images/photo/condition/juvenile-idiopathic.png' />
        </div>

      </div>

    </div>
  </section>

  <section class="section section--blue section--pad-small">
    <div class="container container">
        
        <div class='row'>
          <div class='col--10 push--1'>
            <h4>How will it affect me?</h4>
            <p>The subtypes of JIA affect people differently, which you can see described in the table below:<sup>2,3</sup></p>
            <img class='is-blocked' alt='Table showing symptoms and features of JIA' src='/images/photo/condition/juvenile-table.png' />
          </div>
        

          


        </div>
        
    </div>
  </section>

  <section class="section section--pad-mid">
    <div class='container'>
      <div class='row'>
        <div class='col--10 push--1 '>
          <h4>What are my treatment options?</h4>
          <p>If you have JIA, you will receive medicines to help reduce your pain, help your movement and slow down or even stop joint damage. If JIA is diagnosed and treated, soon after symptoms develop, it can help lower the risk of major damage to the joints. Treatment of your JIA can also help to improve your quality of life. Your treatment may include anti-inflammatory drugs, physiotherapy, occupational therapy and disease-modifying drugs (DMARDs). </p>

          <p>If you have any questions or concerns about your treatments, including any side effects, you should speak to your doctor or healthcare team.</p>
        </div>

      </div>

    </div>
  </section>

  <section class="section section--pad-mid section--blue">
    <div class='container'>
      <div class='row'>
        <div class='col--10 push--1 '>
          <h4>Why have I been prescribed a biologic?</h4>
        </div>
        <div class='col--5 push--1 '>
          
          <p>Biologics are a special class of DMARDs that work by specifically targeting the cells involved in inflammation. There are a number of biologics that treat JIA, one of them being adalimumab, the medication you have been prescribed by the doctor who treats you. Biologics are often given alongside other treatments.<sup>4</sup></p>

          <p>It is important you work with your healthcare team to ensure you take your treatment as recommended. Make sure you also read the patient information leaflet carefully and inform your doctor of any side effects or concerns you may have.</p>

          <p>You can find more about your treatment by clicking on <a href='/patient/biologics'>Questions about biologics</a> and <a href='/patient/understanding-idacio'>Understanding IDACIO®</a> in the navigation above.</p>
        </div>

        <div class='col--5'>
          <img class='is-blocked' alt='Doctor writing a prescription' src='/images/photo/condition/prescription.jpg' />
        </div>

      </div>

    </div>
  </section>


  <section class="section section--pad-small">
    <div class="container">
        
        <div class='row'>
          <div class='col--10 push--1 '>
            <h4>Helpful resources</h4>
            <p>If you would like to learn more about JIA, or look at organisations that can provide support and guidance, please visit the websites listed below:</p>
            <ul class='references '>
              <li>
                <div class='references--title'>References used in the preparation of this webpage</div>
                <div class='references--content'>
                  <p>Some content here.</p>

                </div>
              </li>
            </ul>
          </div>
        </div>
      
    </div>
  </section>

</div>

{% endblock %}