

{% extends "shared/_layout" %} 

{% set mode="patient" %}

{% block content %} 

 

 {% requireLogin %}


<section class="section" >
  <div class="container container--pad-top-small container--pad-bottom-small container--narrow">
    <h1 class='is-cyan'>Your account</h1>

    <form method="post" accept-charset="UTF-8">

      {% set notice = craft.app.session.getFlash('notice') %}
      {% if notice %}
        <p class='is-notice'>{{ notice }}</p>
      {% endif %}

      {{ csrfInput() }}

      
      {{ redirectInput('/patient/profile') }}

      {% set formUser = user is defined ? user : currentUser  %}

      {% macro errorList(errors) %}
          {% if errors %}
              <ul class="errors">
                  {% for error in errors %}
                      <li>{{ error }}</li>
                  {% endfor %}
              </ul>
          {% endif %}
      {% endmacro %}

      {% from _self import errorList %}

      <input type="hidden" name="action" value="crm-user-module/user/patient-profile">
      
      <div class="col col--6-md col-no-pad" >

      
      

        <div class='form--group form--group-spaced'>
            <h4 for="email">Email address</h4>
            <input id="email" type="text" name="email" 
                value="{{ formUser.email }}">

            {% if formUser is defined %}
                {{ errorList(formUser.getErrors('email')) }}
            {% endif %}
        </div>

         <div class='form--group form--group-spaced'>
            <h4 for="condition">Condition being treated with IDACIO&reg;</h4>

            <div class='custom-select'>
                <select id="condition"  name="condition">
                    
                    
                    
                    <option value="rheumatoid arthritis" {% if formUser.condition == "rheumatoid arthritis"%} selected{% endif %}>Rheumatoid Arthritis</option> 
                    <option value="spondyloarthropathies"{% if formUser.condition == "spondyloarthropathies"%} selected{% endif %}>Spondyloarthropathies</option> 
                    <option value="ankylosing spondylitis"{% if formUser.condition == "ankylosing spondylitis"%} selected{% endif %}>Ankylosing Spondylitis</option> 
                    <option value="psoriasis and psoriatic arthritis"{% if formUser.condition == "psoriasis and psoriatic arthritis"%} selected{% endif %}>Psoriasis and Psoriatic Arthritis</option> 
                    <option value="inflammatory bowel disease"{% if formUser.condition == "inflammatory bowel disease"%} selected{% endif %}>Inflammatory Bowel Disease</option> 
                    <option value="non-infectious uveitis"{% if formUser.condition == "non-infectious uveitis"%} selected{% endif %}>Non-infectious Uveitis</option> 
                    <option value="hidradenitis suppurativa"{% if formUser.condition == "hidradenitis suppurativa"%} selected{% endif %}>Hidradenitis Suppurativa</option> 
                </select>
            </div>

            {% if formUser is defined %}
                {{ errorList(formUser.getErrors('condition')) }}
            {% endif %}
        </div>

      </div>

     

      <div class='form--group form--group-spaced clear-both'>
          <h4>General Data Protection Regulation (GDPR)</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec risus massa, pharetra in mattis ut, congue vel libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec risus massa, pharetra in mattis ut, congue vel libero.</p>
          <div class='custom-checkbox'>
              <input type='checkbox' id='opt-in' name='opt-in' value='1' {% if formUser.optIn == 1 %} checked {% endif %} />
              <label for='opt-in'>Email opt in (Copy TBC)</label>
          </div>
      </div>

      <p class='is-error'>{% if errorMessage is defined %}{{ errorMessage }}{% endif %}</p>
      
      

     
      <div class='form--group form--group-spaced'>
          <input type="submit" class='btn btn--shout' value="Save Settings">
      </div>
  </form>


  </div>
</section>

{% endblock %}