{% extends "shared/_layout" %} 

{% set mode="patient" %}

{% block content %} 

<div class="patient-content">


  <section class="section section--jumbo">
    <div class='section--jumbo-background is-sm-up' style="background-image:url('/images/photo/condition/condition--desktop.jpg');"></div>
    <div class='section--jumbo-background is-mobile-only' style="background-image:url('/images/photo/condition/condition--mobile.jpg');"></div>
    
    <div class="container">
    
          <h1>Focus on Hidradenitis Suppurativa</h1>
       
    </div>
  </section>

  <section class="section section--pad-mid section--pad-top-none--mobile">
    <div class='container'>
      <div class='row'>
        <div class='col--5 push--1 col--4-md push--2-md'>
          <h4>What is hidradenitis suppurativa?</h4>
          <p>People with hidradenitis suppurativa (HS) develop abscesses, channels and scars in their skin close to hair follicles (cavity containing the root of the hair) which are very painful. </p>

          <p>The cause is currently not known.<sup>1</sup> HS is often found in the groin, buttocks, breasts and armpits. This is because these areas have hair follicles which are close to sweat glands. </p>
        </div>

        <div class='col--5 col--4-md '>
          <img class='is-blocked' alt='Hair follicle' src='/images/photo/condition/hair-follicle.jpg' />
        </div>

      </div>

    </div>
  </section>

  <section class="section section--blue section--pad-small">
    <div class="container container">
        
        <div class='row'>
          <div class='col--10 push--1 col--8-md push--2-md'>
            <h4>How will it affect me?</h4>
            <p>HS will primarily affect your skin, with common symptoms including:<sup>1</sup></p>
          </div>
        

          <div class='icon-boxes icon-boxes--inset'>
            <div class='icon-box'>
              <img src='/images/icon-boxes/lumps-on-skin.png' />
              <p>Painful lumps on the skin</p>
            </div>

            <div class='icon-box'>
              <img src='/images/icon-boxes/swellings.png' />
              <p>Swellings that leak pus</p>
            </div>

            <div class='icon-box'>
              <img src='/images/icon-boxes/wounds.png' />
              <p>Wounds that do not heal easily</p>
            </div>

            <div class='icon-box'>
              <img src='/images/icon-boxes/scarring.png' />
              <p>Scarring</p>
            </div>

          </div>


        </div>
        <div class='col--10 push--1 col--8-md push--2-md'>
          <p class='is-discreet'><em>If you notice any new or worsening symptoms, it is important you discuss these with your doctor or healthcare team.</em></p>
        </div>
      
    </div>
  </section>

  <section class="section section--pad-mid">
    <div class='container'>
      <div class='row'>
        <div class='col--10 push--1 col--8-md push--2-md'>
          <h4>What are my treatment options?</h4>
          <p>Your doctor will select treatments that are best for you, depending on how severe your disease is. For some people HS will be controlled with antibiotics or a retinoid medicine. </p>

          <p>If you have any questions or concerns about your treatments, including any side effects, you should speak to your doctor or healthcare team.</p>
        </div>

      </div>

    </div>
  </section>

  <section class="section section--pad-mid section--blue">
    <div class='container'>
      <div class='row'>
        <div class='col--10 push--1 col--8-md push--2-md'>
          <h4>Why have I been prescribed a biologic?</h4>
        </div>
        <div class='col--5 push--1 col--4-md push--2-md'>
          
          <p>If your disease is more severe, then your doctor may give you a biologic medicine. Adalimumab, the medication you have been prescribed by the doctor who treats you, is a biologic medicine. It is important you work with your healthcare team to ensure you take your treatment as recommended. Make sure you also read the patient information leaflet carefully and inform your doctor of any side effects or concerns you may have.</p>

          <p>You can find more about your treatment by clicking on <a href='/patient/biologics'>Questions about biologics</a> and <a href='/patient/understanding-idacio'>Understanding IDACIO®</a> in the navigation above.</p>
        </div>

        <div class='col--5 col--4-md '>
          <img class='is-blocked' alt='Doctor writing a prescription' src='/images/photo/condition/prescription.jpg' />
        </div>

      </div>

    </div>
  </section>


  <section class="section section--pad-small">
    <div class="container">
        
        <div class='row'>
          <div class='col--10 push--1 col--8-md push--2-md'>
            <h4>Helpful resources</h4>
            <p>If you would like to learn more about HS, or look at organisations that can provide support and guidance, please visit the websites listed below:</p>
            <ul class='references '>
              <li>
                <div class='references--title'>References used in the preparation of this webpage</div>
                <div class='references--content'>
                  <p>Some content here.</p>

                </div>
              </li>
            </ul>
          </div>
        </div>
      
    </div>
  </section>

</div>

{% endblock %}