{% extends "shared/_layout" %} 

{% set mode="patient" %}

{% block content %} 

<div class="patient-content">


  <section class="section section--jumbo">
    <div class='section--jumbo-background is-sm-up' style="background-image:url('/images/photo/condition/condition--desktop.jpg');"></div>
    <div class='section--jumbo-background is-mobile-only' style="background-image:url('/images/photo/condition/condition--mobile.jpg');"></div>
    
    <div class="container">
    
          <h1>Focus on Inflammatory bowel disease</h1>
       
    </div>
  </section>

  <section class="section section--pad-mid section--pad-top-none--mobile">
    <div class='container'>
      <div class='row'>
        <div class='col--5 push--1'>
          <h4>What is inflammatory bowel disease?</h4>
          <p>Inflammatory bowel disease (IBD) is essentially an umbrella term for inflammatory diseases of the digestive tract, mainly Crohn’s disease and ulcerative colitis. On the surface, the conditions might seem to be quite similar, but in fact, they are quite different. They affect different areas of the intestine (bowel) and require different treatments or ways to help control their symptoms.<sup>1</sup></p>

          <p>Millions of people around the world are affected by inflammatory bowel disease, although it is more common in developed countries.<sup>2</sup> Both Crohn’s disease and ulcerative colitis can affect people of all ages and can occur at any time in life but they are  often first diagnosed  in children, teenagers and young adults.<sup>1,3</sup> </p>
        </div>

        <div class='col--5'>
          <img class='is-blocked' alt='Diagram of the bowel' src='/images/photo/condition/bowel.jpg' />
        </div>

      </div>

    </div>
  </section>

  <section class="section section--pad-small section--dark-blue">
    <div class='container'>
      <div class='row'>
        <div class='col--10 push--1 text-center'>
            <p class='shout'>Do you have...?</p>
            <p class='shout'><a href='#chrons' class='btn'>Chrohn's Disease</a> <span class='separator'>or</span> <a href='#colitis' class='btn'>Ulcerative Colitis</a></p>
        </div>

       
      </div>

    </div>
  </section>

  <section class="section section--blue section--pad-small" id='chrons'>
    <div class="container container">
        
        <div class='row'>
          <div class='col--10 push--1'>

            <h2 class='is-cyan'>Crohn's disease</h2>

            <h4>How will Crohn’s disease affect me?</h4>
            <p>If you have Crohn’s disease (CD), it can affect many parts of your digestive system, from the mouth through to the anus, most often affecting the end of the small intestine (the ‘ileum’) and large intestine (the ‘colon’). These areas become inflamed leading to pain and bleeding. The disease will affect different people in different ways, and how you feel can change over time.</p>

            <p>The most common symptoms include: </p>

          </div>
        

          <div class='icon-boxes'>
            <div class='icon-box'>
              <img src='/images/icon-boxes/diarrhoea.png' />
              <p>Diarrhoea (often with blood, mucus or pus)</p>
            </div>

            <div class='icon-box'>
              <img src='/images/icon-boxes/tummy-pain.png' />
              <p>Tummy pain</p>
            </div>

            <div class='icon-box'>
              <img src='/images/icon-boxes/tiredness.png' />
              <p>Tiredness and fatigue</p>
            </div>

            <div class='icon-box'>
              <img src='/images/icon-boxes/feverishness.png' />
              <p>Feverishness</p>
            </div>

            <div class='icon-box'>
              <img src='/images/icon-boxes/losing-weight.png' />
              <p>Not feeling hungry and losing weight</p>
            </div>

            <div class='icon-box'>
              <img src='/images/icon-boxes/nausea.png' />
              <p>Nausea and vomiting</p>
            </div>

            <div class='icon-box'>
              <img src='/images/icon-boxes/mouth-ulcers.png' />
              <p>Mouth ulcers</p>
            </div>

          </div>


        </div>
        <div class='col--10 push--1 '>
          <p>Some people develop anaemia (a reduced level of red blood cells), others may develop abscesses (collections of pus) or fistulas (narrow channel between the gut and the skin, or the gut and other organs). These may need surgery to repair them. People with Crohn’s disease may also develop joint pain or eye inflammation (uveitis). Children with Crohn’s disease may grow more slowly than children of the same age. </p>

          <p class='strong'>If you notice any new or worsening symptoms, it is important you discuss these with your doctor or healthcare team.</p>

          <p class='strong'>Your Crohn’s disease may not affect you at all times. You can have flares (where your disease is active) and periods of remission (when you do not have any symptoms). Crohn’s disease can affect people’s quality of life.<sup>1</sup></p>

        </div>
      
    </div>
  </section>

  <section class="section section--pad-mid section--pad-bottom-small">
    <div class='container'>
      <div class='row'>
        <div class='col--10 push--1 '>
          <h4>What are my treatment options for Crohn’s disease?</h4>
          <p>Treatment for Crohn’s disease aims to control the disease, reduce the number of ‘flares’ and help improve your quality of life. Your specific treatment will depend on how severe your disease is and the medicines that worked for you in the past. You may have already received a corticosteroid and/or a drug known as an immunomodulator. </p>
        </div>

      </div>

    </div>
  </section>

  <section class="section section--pad-mid section--pad-bottom-small section--no-pad-top">
    <div class='container'>
      <div class='row'>
        <div class='col--10 push--1 '>
          <h4>Why have I been prescribed a biologic for Crohn’s disease?</h4>
        </div>
        <div class='col--5 push--1 '>
          
          <p>You may be offered a biologic medicine if your previous treatments do not fully control your symptoms or you get side effects. Biologics are proteins that block the action of specific messenger molecules in the body involved in inflammation and are used in moderate to severe IBD. There are a number of biologic medicines available, including adalimumab, which has been prescribed for you by the doctor who is treating you.<sup>1 </sup></p>

          <p>If you have any questions or concerns about your treatments, including any side effects, you should speak to your doctor or healthcare team.</p>

          <p>It is important you work with your healthcare team to ensure you take your treatment as recommended. Make sure you also read the patient information leaflet carefully and inform your doctor of any side effects or concerns you may have. </p>

          <p>You can find more about your treatment by clicking on <a href='/patient/biologics'>Questions about biologics</a> and <a href='/patient/understanding-idacio'>Understanding IDACIO®</a> in the navigation above.</p>
        </div>

        <div class='col--5 '>
          <img class='is-blocked' alt='Doctor writing a prescription' src='/images/photo/condition/prescription.jpg' />
        </div>

      </div>

    </div>
  </section>


  <section class="section section--pad-small section--no-pad-top">
    <div class="container">
        
        <div class='row'>
          <div class='col--10 push--1 '>
            <h4>Helpful resources</h4>
            <p>If you would like to learn more about Crohn’s disease or look at organisations that can provide support and guidance, please visit the websites listed below:</p>
            
          </div>
        </div>
      
    </div>
  </section>


  <section class="section section--blue section--pad-small" id='colitis'>
    <div class="container container">
        
        <div class='row'>
          <div class='col--10 push--1'>

            <h2 class='is-cyan'>Ulcerative colitis </h2>

            <h4>How will ulcerative colitis affect me?</h4>
            <p>Ulcerative colitis (UC) affects the large bowel, which is also known as the colon. At the moment, the cause of UC is unknown. The disease can be quite unpredictable, sometimes you may have symptoms (flares), while other times your disease may be quiet (remission).  </p>

            <p>The most common symptoms include: </p>

          </div>
        

          <div class='icon-boxes'>
            <div class='icon-box'>
              <img src='/images/icon-boxes/diarrhoea.png' />
              <p>Diarrhoea (often with blood, mucus or pus)</p>
            </div>

            <div class='icon-box'>
              <img src='/images/icon-boxes/tummy-pain.png' />
              <p>Cramps or pain in your tummy</p>
            </div>

            <div class='icon-box'>
              <img src='/images/icon-boxes/tiredness.png' />
              <p>Feeling tired</p>
            </div>

            <div class='icon-box'>
              <img src='/images/icon-boxes/feverishness.png' />
              <p>Feverish</p>
            </div>

            <div class='icon-box'>
              <img src='/images/icon-boxes/losing-weight.png' />
              <p>Not feeling hungry and losing weight</p>
            </div>

          

          </div>


        </div>
        <div class='col--10 push--1 '>
          <p class='strong'>Having UC may also affect your daily energy levels, mood and how much activity you can do.<sup>3</sup></p>

          <p class='strong'>If you notice any new or worsening symptoms, it is important you discuss these with your doctor or healthcare team.</p>

        </div>
      
    </div>
  </section>

  <section class="section section--pad-mid section--pad-bottom-small">
    <div class='container'>
      <div class='row'>
        <div class='col--10 push--1 '>
          <h4>What are my treatment options for ulcerative colitis?</h4>
          <p>Treatment for UC focuses on controlling the inflammation and helping you have a good quality of life. For ulcerative colitis, you may have already been prescribed an anti-inflammatory medicine (e.g. aminosalicylates). This is called a first-line drug, the first medicine a doctor will prescribe which is specific for ulcerative colitis. If this treatment does not control your symptoms or you have side effects, then you may have received corticosteroids or immunomodulator as a next step.<sup>3</sup></p>

          <p>If you have any questions or concerns about your treatments, including any side effects, you should speak to your doctor or healthcare team.</p>
        </div>

      </div>

    </div>
  </section>

  <section class="section section--pad-mid section--pad-bottom-small section--no-pad-top">
    <div class='container'>
      <div class='row'>
        <div class='col--10 push--1 '>
          <h4>Why have I been prescribed a biologic for Crohn’s disease?</h4>
        </div>
        <div class='col--5 push--1 '>
          
          <p>It is at this point, if the previous treatments have not worked, that your doctor will prescribe a biologic medicine. These are proteins that block the action of specific molecules in the body involved in inflammation and are used in moderate to severe IBD.3 There are several types of biologics, including adalimumab, which you have been prescribed by the doctor who is treating you. </p>

          <p>It is important you work with your healthcare team to ensure you take your treatment as recommended. Make sure you also read the patient information leaflet carefully and inform your doctor of any side effects or concerns you may have. </p>

        
          <p>You can find more about your treatment by clicking on <a href='/patient/biologics'>Questions about biologics</a> and <a href='/patient/understanding-idacio'>Understanding IDACIO®</a> in the navigation above.</p>
        </div>

        <div class='col--5 '>
          <img class='is-blocked' alt='Doctor writing a prescription' src='/images/photo/condition/prescription.jpg' />
        </div>

      </div>

    </div>
  </section>




  <section class="section section--pad-small section--no-pad-top">
    <div class="container">
        
        <div class='row'>
          <div class='col--10 push--1 '>
            <h4>Helpful resources</h4>
            <p>If you would like to learn more about ulcerative colitis, or look at organisations that can provide support and guidance, please visit the websites listed below:</p>
            <ul class='references '>
              <li>
                <div class='references--title'>References used in the preparation of this webpage</div>
                <div class='references--content'>
                  <p>Some content here.</p>

                </div>
              </li>
            </ul>
          </div>
        </div>
      
    </div>
  </section>

</div>

{% endblock %}