{% extends "shared/_layout" %} 

{% set mode="patient" %}

{% block content %} 

<div class="patient-content">


  <section class="section section--jumbo">
    <div class='section--jumbo-background is-sm-up' style="background-image:url('/images/photo/condition/condition--desktop.jpg');"></div>
    <div class='section--jumbo-background is-mobile-only' style="background-image:url('/images/photo/condition/condition--mobile.jpg');"></div>
    
    <div class="container">
    
          <h1>Focus on Non-infectious uveitis</h1>
       
    </div>
  </section>

  <section class="section section--pad-mid section--pad-top-none--mobile">
    <div class='container'>
      <div class='row'>
        <div class='col--5 push--1'>
          <h4>What is non-infectious uveitis?</h4>
          <p>Uveitis is a condition where you have inflammation in one or both of your eyes. This means your eye is red, painful and has swelling in some of its layers.  It most commonly affects adults between 20 and 60 years of age. In uveitis, the inflammation occurs in the ‘uvea’ (the middle layer of your eye) although it can also affect other areas of the eye.<sup>1</sup> </p>

          <p>Uveitis may be caused by an infection, due to an injury, or because of an autoimmune condition.  The information on this page focuses on uveitis due to autoimmune diseases.</p>
        </div>

        <div class='col--5'>
          <img class='is-blocked' alt='Eyeball' src='/images/photo/condition/eyeball.jpg' />
        </div>

      </div>

    </div>
  </section>

  <section class="section section--blue section--pad-small">
    <div class="container container">
        
        <div class='row'>
          <div class='col--10 push--1'>
            <h4>How will it affect me?</h4>
            <p>If you have AIU, symptoms can appear quite quickly and include:<sup>1</sup></p>
          </div>
        

          <div class='icon-boxes'>
            <div class='icon-box'>
              <img src='/images/icon-boxes/vision-changes.png' />
              <p>Painful lumps on the skin</p>
            </div>

            <div class='icon-box'>
              <img src='/images/icon-boxes/dark-spots.png' />
              <p>Dark floating spots</p>
            </div>

            <div class='icon-box'>
              <img src='/images/icon-boxes/painful-swelling.png' />
              <p>Pain, redness or swelling of your eye</p>
            </div>

            <div class='icon-box'>
              <img src='/images/icon-boxes/light-sensitivity.png' />
              <p>Sensitivity to light</p>
            </div>

          </div>


        </div>
        <div class='col--10 push--1 '>
          <p class='is-discreet'><em>Once treated, uveitis can return again at a later time.<br/> 
If you notice any new or worsening symptoms, it is important you discuss these with your doctor or healthcare team.</em></p>
        </div>
      
    </div>
  </section>

  <section class="section section--pad-mid">
    <div class='container'>
      <div class='row'>
        <div class='col--10 push--1 '>
          <h4>What are my treatment options?</h4>
          <p>If you have autoimmune uveitis you may already have received treatment with a corticosteroid or an immunomodulator.</p>

          <p>If you have any questions or concerns about your treatments, including any side effects, you should speak to your doctor or healthcare team.</p>
        </div>

      </div>

    </div>
  </section>

  <section class="section section--pad-mid section--blue">
    <div class='container'>
      <div class='row'>
        <div class='col--10 push--1 '>
          <h4>Why have I been prescribed a biologic?</h4>
        </div>
        <div class='col--5 push--1 '>
          
          <p>If your uveitis is still present despite these treatments, you may receive a biologic medicine. Biologic medicines, such as adalimumab, which has been prescribed for you by the doctor who is treating you, can help reduce inflammation. This helps to treat the uveitis.<sup>3</sup></p>

          <p>It is important you work with your healthcare team to ensure you take your treatment as recommended. Make sure you also read the patient information leaflet carefully and inform your doctor of any side effects or concerns you may have.</p>

          <p>You can find more about your treatment by clicking on <a href='/patient/biologics'>Questions about biologics</a> and <a href='/patient/understanding-idacio'>Understanding IDACIO®</a> in the navigation above.</p>
        </div>

        <div class='col--5'>
          <img class='is-blocked' alt='Doctor writing a prescription' src='/images/photo/condition/prescription.jpg' />
        </div>

      </div>

    </div>
  </section>


  <section class="section section--pad-small">
    <div class="container">
        
        <div class='row'>
          <div class='col--10 push--1 '>
            <h4>Helpful resources</h4>
            <p>If you would like to learn more about uveitis, or look at organisations that can provide support and guidance, please visit the websites listed below:</p>
            <ul class='references '>
              <li>
                <div class='references--title'>References used in the preparation of this webpage</div>
                <div class='references--content'>
                  <p>Some content here.</p>

                </div>
              </li>
            </ul>
          </div>
        </div>
      
    </div>
  </section>

</div>

{% endblock %}