{% extends "shared/_layout" %} 

{% set mode="patient" %}

{% block content %} 

<div class="patient-content">


  <section class="section section--jumbo">
    <div class='section--jumbo-background is-sm-up' style="background-image:url('/images/photo/condition/condition--desktop.jpg');"></div>
    <div class='section--jumbo-background is-mobile-only' style="background-image:url('/images/photo/condition/condition--mobile.jpg');"></div>
    
    <div class="container">
    
          <h1>Focus on Rheumatoid Arthritis</h1>
       
    </div>
  </section>

  <section class="section section--pad-mid section--pad-top-none--mobile">
    <div class='container'>
      <div class='row'>
        
          <h4 class='col--10 push--1'>What is Rheumatoid Arthritis?</h4>
          <p class='col--10 push--1'>Rheumatoid arthritis (RA) is a disease of the immune system that affects the joints, causing them to become swollen, stiff and painful.<sup>1</sup> It is a polyarthritic condition, which means many joints (six or more) may be impacted at once.2 When it first develops it may only affect one joint.<sup>2</sup> It usually affects joints such as the hands, knees and wrists on both sides of the body.<sup>1</sup></p>
      

        <div class='clear-both col--4 push--1'>
          
          <p>It is most often diagnosed between the ages of 40 and 60 years old.<sup>1</sup> However, it can start at any age, including earlier in life as juvenile arthritis.<sup>1,3 </sup> It is up to three times as common in women than men and affects about 1 in every 100 people worldwide.<sup>2,4 </sup></p>

          <p>If you have RA, the lining of your joint becomes inflamed and the joint tissue becomes damaged.<sup>1</sup> This makes the joint painful and can lead to changes in the shape of the joint.<sup>1</sup> The image below shows how the joint changes in RA.</p>
        </div>

        <div class='col--6'>
          <img class='is-blocked' alt='Diagram of a Rheymatoid Arthritis joint' src='/images/photo/condition/arthritis-joint.jpg' />
        </div>

      </div>

    </div>
  </section>

  <section class="section section--blue section--pad-small">
    <div class="container container">
        
        <div class='row'>
          <div class='col--10 push--1'>
            <h4>How will it affect me?</h4>
            <p>RA primarily affects your joints, and usually several different joints at once. There are various symptoms you may notice, including:<sup>1</sup></p>
          </div>
        

          <div class='icon-boxes'>
            <div class='icon-box'>
              <img src='/images/icon-boxes/pain-aching.png' />
              <p>Pain and aching in more than one joint</p>
            </div>

            <div class='icon-box'>
              <img src='/images/icon-boxes/stiff-joints.png' />
              <p>Stiff joints, especially in the morning</p>
            </div>

            <div class='icon-box'>
              <img src='/images/icon-boxes/tender-joints.png' />
              <p>Tender, swollen joints</p>
            </div>

            <div class='icon-box'>
              <img src='/images/icon-boxes/both-sides-of-body.png' />
              <p>Same joints are affected on both sides of the body</p>
            </div>

             <div class='icon-box'>
              <img src='/images/icon-boxes/tiredness.png' />
              <p>Tiredness, weight loss, raised temperature and weakness</p>
            </div>


          </div>


        </div>
       
    </div>
  </section>

  <section class="section section--pad-mid">
    <div class='container'>
      <div class='row'>
        <div class='col--10 push--1 '>
          <h4>What are my treatment options?</h4>
          <p>If you have RA, there are a number of treatments that can be used to help control your pain and the disease.<sup>4</sup> Some medicines focus on stopping the inflammation and the pain. Other medicines, called disease-modifying antirheumatic drugs (DMARDs), can help slow the disease and prevent the shape of the joints becoming abnormal. If RA is diagnosed and treated, soon after symptoms develop, it can help lower the risk of major damage to the joints. Treatment can also help you maintain a good quality of life and enable you to continue your daily activities.</p>
        </div>

      </div>

    </div>
  </section>

  <section class="section section--pad-mid section--blue">
    <div class='container'>
      <div class='row'>
        
        <div class='col--5 push--1 '>
          <h4>Why have I been prescribed a biologic?</h4>

          <p>Biologics are a special class of DMARDs that work by specifically targeting the cells involved in inflammation. There are a number of different biologic medicines for RA, one of them being adalimumab, the medication you have been prescribed by the doctor who treats you. Biologic medicines are often used alongside other treatments, such as methotrexate, to help control your disease.<sup>1</sup></p>

          <p>You can find more about your treatment by clicking on <a href='/patient/biologics'>Questions about biologics</a> and <a href='/patient/understanding-idacio'>Understanding IDACIO®</a> in the navigation above.</p>
        </div>

        <div class='col--5'>
          <img class='is-blocked' alt='Doctor writing a prescription' src='/images/photo/condition/prescription.jpg' />
        </div>

      </div>

    </div>
  </section>


  <section class="section section--pad-small">
    <div class="container">
        
        <div class='row'>
          <div class='col--10 push--1 '>
            <h4>Helpful resources</h4>
            <p>If you would like to learn more about RA, or look at organisations that can provide support and guidance, please visit the websites listed below:</p>
            <ul class='references '>
              <li>
                <div class='references--title'>References used in the preparation of this webpage</div>
                <div class='references--content'>
                  <p>Some content here.</p>

                </div>
              </li>
            </ul>
          </div>
        </div>
      
    </div>
  </section>

</div>

{% endblock %}