{% extends "shared/_layout" %} 

{% set mode="patient" %}

{% block content %} 

<div class="patient-content">


  <section class="section section--jumbo">
    <div class='section--jumbo-background is-sm-up' style="background-image:url('/images/photo/condition/condition--desktop.jpg');"></div>
    <div class='section--jumbo-background is-mobile-only' style="background-image:url('/images/photo/condition/condition--mobile.jpg');"></div>
    
    <div class="container">
    
          <h1>Focus on Spondyloarthropathies</h1>
       
    </div>
  </section>

  <section class="section section--pad-mid section--pad-top-none--mobile">
    <div class='container'>
      
      <div class='row'>
        <div class='col--10 push--1 col--8-md push--2-md'>
          <h4>What is spondyloarthropathies?</h4>
          <p>Spondyloarthritis is a type of arthritis that mainly affects the spine and occurs in 1 or 2 people in every 100. However, it can also affect the joints of the legs, arms, and other areas such as the eyes and skin. There are different sub-types of spondyloarthritis including axial spondyloarthritis (axial SpA), ankylosing spondylitis (AS) and psoriatic arthritis.<sup>1</sup></p>
          <p>Below are some of the types of spondyloarthritis:<sup>1</sup></p>
          <ul>
            <li>Ankylosing spondylitis (AS)</li>
            <li>Axial SpA without radiographic evidence of AS</li>
            <li>Arthritis associated with gut inflammation due to inflammatory bowel disease (IBD)</li>
            <li>Arthritis associated with inflammation of the eye (uveitis)</li>
            <li>Reactive arthritis</li>
            <li>Undifferentiated SpA </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section section--pad-mid section--no-pad-top">
      <div class='container'>

        <div class='row'>
          <div class='col--5 push--1 col--4-md push--2-md'>

            <h4>What is ankylosing spondylitis? </h4>
          <p>Ankylosing spondylitis (AS) is a type of spondyloarthritis that affects the spinal joints (vertebrae) and causes ongoing severe pain and discomfort.<sup>2 </sup>

          <p>AS commonly occurs in younger people, between the ages of 17-45 years old, and can also occur in children and older people.<sup>2</sup> Men are more likely to develop AS than women.<sup>2</sup></p>
        </div>

        <div class='col--5 col--4-md '>
          <img class='is-blocked' alt='Image of a pain with a painful spine' src='/images/photo/condition/spondyloarthropathies.jpg' />
        </div>

      </div>

    </div>
  </section>

  <section class="section section--blue section--pad-small">
    <div class="container container">
        
        <div class='row'>
          <div class='col--10 push--1 col--8-md push--2-md'>
            <h4>How will it affect me?</h4>
            <p>The different types of spondyloarthritis have their own symptoms, but there are some that are seen in all forms, including:<sup>3</sup> </p>
          </div>
        

          <div class='icon-boxes icon-boxes--inset'>
            <div class='icon-box'>
              <img src='/images/icon-boxes/pain-lower-back.png' />
              <p>Pain or stiffness in your lower back</p>
            </div>

            <div class='icon-box'>
              <img src='/images/icon-boxes/spondy-tiredness.png' />
              <p>Tiredness</p>
            </div>

            <div class='icon-box'>
              <img src='/images/icon-boxes/pain-aching.png' />
              <p>Inflamed joints (on both sides of your body)</p>
            </div>

            <div class='icon-box'>
              <img src='/images/icon-boxes/painful-swelling.png' />
              <p>Eye inflammation</p>
            </div>

          </div>


        </div>
       
      
    </div>
  </section>

  <section class="section section--pad-mid">
    <div class='container'>
      <div class='row'>
        <div class='col--10 push--1 col--8-md push--2-md'>
          <h4>What are my treatment options?</h4>
          <p>Unfortunately, there is no cure for spondyloarthritis, however different medicines along with physical exercise can help manage your pain and prevent or slow down the disease.<sup>3</sup> Treatment can also help to improve your quality of life. You may have already received an anti-inflammatory medicine such as NSAIDs to help with the inflammation, pain and stiffness. </p>
        </div>

      </div>

    </div>
  </section>

  <section class="section section--pad-mid section--blue">
    <div class='container'>
      <div class='row'>
        <div class='col--10 push--1 col--8-md push--2-md'>
          <h4>Why have I been prescribed a biologic?</h4>
        </div>
        <div class='col--5 push--1 col--4-md push--2-md'>
          
          <p>If previous medications have not been able to control the disease on their own, you may start a biologic medicine. A biologic medicine can help control the immune system and reduce the inflammation in your joints. Adalimumab, the medication you have been prescribed by the doctor who treats you, is one example of a biologic medicine.<sup>4</sup>

          <p>While these treatments can have good outcomes for some people, they do not always work.<sup>1,3</sup> It is important you work with your healthcare team to ensure you take your treatment as recommended. Make sure you also read the patient information leaflet carefully and inform your doctor of any side effects or concerns you may have.</p>

          <p>You can find more about your treatment by clicking on <a href='/patient/biologics'>Questions about biologics</a> and <a href='/patient/understanding-idacio'>Understanding IDACIO®</a> in the navigation above.</p>
        </div>

        <div class='col--5 col--4-md '>
          <img class='is-blocked' alt='Doctor writing a prescription' src='/images/photo/condition/prescription.jpg' />
        </div>

      </div>

    </div>
  </section>


  <section class="section section--pad-small">
    <div class="container">
        
        <div class='row'>
          <div class='col--10 push--1 col--8-md push--2-md'>
            <h4>Helpful resources</h4>
            <p>If you would like to learn more about SpA, or look at organisations that can provide support and guidance, please visit the websites listed below:</p>
            <ul class='references '>
              <li>
                <div class='references--title'>References used in the preparation of this webpage</div>
                <div class='references--content'>
                  <p>Some content here.</p>

                </div>
              </li>
            </ul>
          </div>
        </div>
      
    </div>
  </section>

</div>

{% endblock %}