{% extends "shared/_layout" %} 

{% set mode="hcp" %}

{% block content %} 

<div class="patient-content">


  <section class="section section--jumbo">
    <div class='section--jumbo-background is-sm-up' style="background-image:url('/images/photo/coaching/header--desktop.jpg');"></div>
    <div class='section--jumbo-background is-mobile-only' style="background-image:url('/images/photo/coaching/header--mobile.jpg');"></div>
    
    <div class="container">
    
          <h1>Introducing the <br/>KabiCare coaching tool</h1>
       
    </div>
  </section>

  <section class="section section--pad-mid section--pad-top-none--mobile tint-pink">
    <div class='container container--narrow'>
     
        
          <h4>Your patient can access these modules to help support their well-being</h4>
          <p>The coaching tool offered here, and in the patient portal, has been developed by Health Psychologists and consists of 4 modules. These have also been reviewed by patients that have chronic diseases of the immune system for relevance and usability.<sup>1</sup></p>

<p>The modules are based on the principles of Cognitive Behavioural Therapy (CBT), as this has been shown to benefit people with certain autoimmune conditions (e.g., rheumatoid arthritis, psoriasis), when performed alongside their other treatments.<sup>2,3</sup> This includes improvements in pain, disability, depression and self-efficacy.<sup>2</sup></p>

<p>It is designed to help patients manage the emotional challenges they face, and assist them in recognising the triggers that can cause their low moods. Each module runs for around 15 minutes, which has been shown to be the right duration for people to give a module their full attention.<sup>4</sup> The tool starts with modules 1 and 2, which help patients identify the triggers that cause their low mood and ways to address them. In modules 3 and 4, patients can explore how to best use their support network and manage stress. It is most helpful if patients work through the modules in numerical order. However, they can choose to use them in a different order. Patients can revisit the modules at any time and review the techniques again. They will also be able to print out templates that they can use to document their work with the modules.</p>

<p>Patients should be encouraged to use these tools how and when they want. It is important to remind them that the tools are not a replacement for treatment. If their well-being deteriorates, they should arrange a consultation with you, their specialist nurse or their psychologist. </p>

<h4>The KabiCare coaching tool</h4>
   
     <p>You can find links to the modules, including a short description of what they contain, below: </p>
    </div>
  </section>

  <section class="section section--lift section--blue tint-blue">
    <div class="container">
      <div class='text-center is-wide-only js-cbt-target'>
        <h2>Module 1: Identifying unhelpful thoughts</h2>
        <p>Find out how to identify the triggers that make you feel down</p>
        <div class='cbt--frame'>
          <iframe class="cbt--iframe" src="/cbt/test-module/story_html5.html" gesture="media"  allow="encrypted-media" allowfullscreen></iframe>
        </div>
      </div>

      

      <div class='cbt--modules row'>
        <a href='#' class='cbt--module is-active'>
          <div class='cbt--module-content'>
            <h4>Module 1<br/>Identifying unhelpful thoughts</h4>
            <p>Find out how to identify the triggers that make you feel down</p>
          </div>
          <img src='/images/cbt/module-1.jpg' />
        </a>
        <a href='#' class='cbt--module'>
          <div class='cbt--module-content'>
            <h4>Module 2<br/>Challenging unhelpful thoughts</h4>
            <p>Hints and tips to help you find ways to improve your thoughts and feelings in everyday situations. </p>
          </div>
          <img src='/images/cbt/module-2.jpg' />
        </a>
        <a href='#' class='cbt--module'>
          <div class='cbt--module-content'>
            <h4>Module 3<br/>Managing stress</h4>
            <p>Improve your interactions with healthcare providers, family, friends and work colleagues at the times when you need help.</p>
          </div>
          <img src='/images/cbt/module-3.jpg' />
        </a>
        <a href='#' class='cbt--module'>
          <div class='cbt--module-content'>
            <h4>Module 4<br/>Getting the right support </h4>
            <p>Useful exercises to help you manage stress related to your illness.</p>
          </div>
          <img src='/images/cbt/module-4.jpg' />
        </a>
      
      </div>
    </div>
  </section>



   <section class="section section--pad-small tint-pink">
    <div class="container container--narrow">
        <h4>Further coaching support</h4>
        <p>In addition to the modules, below you can find more resources that can help improve your mental well-being:</p>

        <ul class='references'>
          <li>
            <div class='references--title'>References used in the preparation of this webpage</div>
            <div class='references--content'>
              <p>Some content here.</p>

            </div>
          </li>
        </ul>
      
    </div>
  </section>

  

</div>

{% endblock %}