{% extends "shared/_layout" %} 

{% set mode="hcp" %}

{% block content %} 

<div class="hcp-index ">

  <section class="section section--hero section--hero-restricted" >
    <div class="container h-100">
      <div class="col push--7 col--5  h-100" >
        <div class="patient-index--hero-content">
          
            <h1>Welcome to <span>KabiCare</span></h1>
            <p><strong>IDACIO<sup>®</sup> resources for you and your patient </strong></p>
          
        </div>
      </div>
    </div>
  </section>
  

  <section class="section  section--pad-mid">
    <div class="container container">
        
        <div class='row'>
          <div class='col--10 push--1 col--8-md push--2-md'>
            <p>Thank you for logging into the HCP portal of the KabiCare website. Here you will find a range of resources that are designed with both you and your patients in mind. The materials have been designed to help you train your patient on how to use IDACIO safely, help them understand their condition and provide them with coaching on how to improve their well-being.</p>

            <p>You can see a summary of all the materials available on this website and within the Patient Starter Kit, which you should have already received. </p>
          </div>
        


        </div>
        
      
    </div>
  </section>

  <section class="section section--blue  section--pad-top section--pad-bottom">
    <div class="container container">
        
        <div class='row text-center'>
          <h4>Placeholder</h4>
        </div>
      </div>
  </section>

  <section class="section  section--pad-mid section--no-pad-bottom">
    <div class="container container">
        
        <div class='row'>
          <div class='col--10 push--1 col--8-md push--2-md'>
            <p>To get the best use out of this website, you should encourage your patients to register so that they can access all the patient-focused materials as well. You can guide them through the steps below to get them set up:</p>

<ol>
  <li>Ask them to go to www.kabicare.xxx.</li>
  <li>They should click ‘log in’ in the top right-hand corner.</li>
  <li>They will need to complete the registration form, which requires an email address and the access code   provided to them via email or in the Patient Starter Kit [Please adapt to your local country if you will  be providing alternative ways to register for the website].</li>
  <li>They should select the conditon for which they are receiving IDACIO; this will help them receive  information tailored to their condition. </li>
</ol>
  <p>If your patient has misplaced their code, they should contact [XXXXX] for a new code.</p>

  <p>To find out more, please visit the pages below:</p>
          </div>
        


        </div>
        
      
    </div>
  </section>



  <section class="section  section--pad-mid section--no-pad-top">
    <div class="container container">
        
        <div class='zoom-boxes--wrap zoom-boxes--hcp '>
        
        <a class='zoom-box' href='#'><!--/hcp/introducing-idacio-->
          <div class='zoom-box--inner'>
            <div class='zoom-box--img'>
              <img  src='/images/photo/section-thumbs/idacio.jpg' />
            </div>
            <div class='zoom-box--meta'>
              <h4>Introducing IDACIO </h4>
              <p>Learn more about how IDACIO works, the different administration options and the clinical data. </p>
            </div>
          </div>
        </a>

       

         <a class='zoom-box' href='/patient/coaching'>
          <div class='zoom-box--inner'>
            <div class='zoom-box--img'>
              <img  src='/images/photo/section-thumbs/hcp-coaching.jpg' />
            </div>
            <div class='zoom-box--meta'>
              <h4>Coaching tool</h4>
              <p>Here you can read through the KabiCare modules, based on the principles of cognitive behavioural therapy, for your patients.</p>
            </div>
          </div>
        </a>

        <a class='zoom-box' href='/patient/resources'>
          <div class='zoom-box--inner'>
            <div class='zoom-box--img'>
              <img  src='/images/photo/section-thumbs/hcp-resources.jpg' />
            </div>
            <div class='zoom-box--meta'>
              <h4>Helpful resources</h4>
              <p>Download useful materials for both you and your patients.</p>
            </div>
          </div>
        </a>


      </div>
        
      
    </div>
  </section>


</div>

{% endblock %}