{% extends "shared/_layout" %} 

{% set mode="hcp" %}

{% block content %} 

<div class="patient-content hcp-content">


  <section class="section section--jumbo section--jumbo-introducing">
    <div class='section--jumbo-background is-sm-up' style="background-image:url('/images/photo/introducing/header--desktop.jpg');"></div>
    <div class='section--jumbo-background is-mobile-only' style="background-image:url('/images/photo/introducing/header--mobile.jpg');"></div>
    
    <div class="container">
    
          <h1>Introducing <span>IDACIO<sup><small>&reg;</small></sup></span></h1>
       
    </div>
  </section>

  <section class="section section--pad-mid section--pad-top-none--mobile tint-all-pink">
    <div class='container'>
     
        <div class='row'>
          <div class='col--10 push--1 col--8-md push--2-md'>
            <h3>An adalimumab biosimilar</h3>
            <p>IDACIO is a biosimilar of HUMIRA®.1 The active ingredient is adalimumab, which is a fully human monoclonal antibody that specifically binds to and inhibits tumour necrosis factor alpha (TNF).<sup>1,2</sup></p>

            <p>It has been licensed to treat the same autoimmune conditions as HUMIRA®:<sup>1</sup></p>

            <img class='is-blocked is-sm-up' src='/images/photo/introducing/infographic--desktop.svg' />
            <img class='is-blocked is-mobile-only' src='/images/photo/introducing/infographic--mobile.svg' />
          </div>
        </div>
    </div>
  </section>

  <section class="section section--lift section--blue-default-cols section--pad-top-mid">
    <div class="container">

      <div class='row'>
          <div class='col--10 push--1 col--12-md push--0-md'>
            <h3>Key clinical data for IDACIO</h3>
            <h4>Focusing on pharmacokinetics (PK)</h4>
            <p>A double blind, parallel group, randomised, phase I study evaluated the PK, safety and tolerability of IDACIO vs the United States (US) and European (EU) reference medicinal product (RMP) in 213 healthy volunteers, who were randomised 1:1:1 across the three treatment arms.<sup>2</sup></p>

            <img class='is-blocked is-wide-only l--margin-bottom' src='/images/photo/introducing/table--desktop.jpg' />
            <img class='is-blocked is-except-wide l--margin-bottom' src='/images/photo/introducing/table--tablet.jpg' />
            
            <div class='image-boxes-wrap has-2'>
              <div class='image-box'>
                <a href='#' class='image-box--inner'>
                  <h4>Concentration time profile</h4>
                  <div class='image-box--img'>
                    <img src='/images/photo/introducing/image-box-1.png' />
                  </div>
                  <ul>
                    <li>The PK of IDACIO was similar to those of the reference adalimumab-US  and reference adalimumab-EU.<sup>2</sup></li>

                    <li>The mean serum concentration-time profiles were similar for IDACIO,     reference adalimumab-US and reference adalimumab-EU.<sup>2</sup></li>
                  </ul>
                </a>
              </div>

              <div class='image-box'>
                <a href='#' class='image-box--inner'>
                  <h4>Safety</h4>
                  <div class='image-box--img'>
                    <img src='/images/photo/introducing/image-box-2.png' />
                  </div>
                  <ul>
                    <li>IDACIO showed a comparable safety profile to US-RMP and EU-RMP.<sup>2</sup></li>
                  </ul>
                </a>
              </div>
            </div>
          </div>

      </div>
    </div>
  </section>

  <section class="section section--pad-mid section--pad-top-none--mobile tint-all-pink">
    <div class='container'>
       <div class='row'>
          <div class='col--10 push--1 col--12-md push--0-md'>
              <h3>AURIEL-Psoriasis (PsO) Trial</h3>
             
              <div class='image-boxes-wrap'>
                <div class='image-box'>
                  <a href='#' class='image-box--inner'>
                    <h4>Study design</h4>
                    <div class='image-box--img'>
                      <img src='/images/photo/introducing/image-box-3.png' />
                    </div>
                    <p>A randomised, two-arm, multicentre, double-blind, parallel group confirmatory trial to evaluate the efficacy, safety and immunogenicity of IDACIO compared with EU-approved reference adalimumab in patients with moderate to severe chronic plaque psoriasis.<sup>3</sup></p>
                  </a>
                </div>

                <div class='image-box'>
                  <a href='#' class='image-box--inner'>
                    <h4>Key endpoints</h4>
                    <div class='image-box--img'>
                      <img src='/images/photo/introducing/image-box-4.png' />
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultrices, sem sed vehicula cursus, metus ex fringilla eros, vitae auctor nulla mauris sit amet felis. Mauris fermentum nisi non.</p>
                  </a>
                </div>

                <div class='image-box'>
                  <a href='#' class='image-box--inner'>
                    <h4>Baseline characteristics</h4>
                    <div class='image-box--img'>
                      <img src='/images/photo/introducing/image-box-5.png' />
                    </div>
                    <p>The baseline patient characteristics for patients included in the core treatment period (per protocol population):<sup>3</sup></p>
                  </a>
                </div>
              </div>



            </div>
      </div>
        
    </div>
  </section>

  <section class="section section--lift section--blue-default-cols section--pad-top-mid">
    <div class="container">
      <div class='row'>
          <div class='col--10 push--1'>
      
            <h4>Efficacy data</h4>
            <p>The key efficacy data from the AURIEL-PsO trial:</p>
          </div>
        </div>

            <div class='carousel row'>
              <div class='carousel--item'>
                <div class='carousel--header'>
                  <h4>IDACIO and reference adalimumab were similar for PASI 75 at week 16 (per protocol).<sup>3</sup></h4>
                </div>
                <img src='/images/photo/introducing/carousel-1.png' />
              </div>


              <div class='carousel--item'>
                <div class='carousel--header'>
                  <h4>IDACIO and reference adalimumab were similar for mean percentage change in PASI score at week 16 (per protocol).<sup>3</sup></h4>
                </div>
                <img src='/images/photo/introducing/carousel-2.png' />
              </div>

              <div class='carousel--item'>
                <div class='carousel--header'>
                  <h4>Numerically similar results were seen for mean percentage change in PASI score.<sup>3</sup></h4>
                </div>
                <img src='/images/photo/introducing/carousel-3.png' />
              </div>

              <div class='carousel--item'>
                <div class='carousel--header'>
                  <h4>IDACIO and reference adalimumab were equivalent for PASI 50 at week 16 (per protocol).<sup>3</sup></h4>
                </div>
                <img src='/images/photo/introducing/carousel-4.png' />
              </div>

              <div class='carousel--item'>
                <div class='carousel--header'>
                  <h4>Numerically similar results were seen for PASI 50/75/90/100 at week 52.<sup>4</sup></h4>
                </div>
                <img src='/images/photo/introducing/carousel-5.png' />
              </div>


           
        </div>
    </div>
  </section>


  <section class="section section--pad-mid section--pad-top-none--mobile tint-all-pink">
    <div class='container'>
     
        <div class='row'>
          <div class='col--10 push--1 '>
            <h3>Safety</h3>
            <p>All treatment arms showed a comparable safety profile up to week 66.3</p>

            <img class='is-blocked is-wide-only' src='/images/photo/introducing/safety--desktop.png' />
            <img class='is-blocked is-except-wide' src='/images/photo/introducing/safety--tablet.png' />
          </div>
        </div>
    </div>
  </section>


  <section class="section section--lift section--blue section--pad-mid ">
    <div class="container">

      <h3>Administration options</h3>
      <p>IDACIO offers a choice of three administration options, to meet the requirements of different patients:<sup>5,6</sup></p>

      <div class='kit-boxes--wrap is-white'>
        
        <div class='kit-box'>
          <div class='kit-box--inner'>
            <img class='is-blocked' src='/images/photo/understanding/box-1.jpg' />
            <div class='kit-box--meta'>
              <p><strong>Pre-filled pen</strong></p>
              <p>For patients with rheumatoid arthritis who would find it hard to use a syringe, or those that just don’t like syringes, the pre-filled pen is a suitable choice.</p>
              <a class='btn btn--block btn--shout' href='#'>Watch the video</a>
            </div>
          </div>
        </div>

        <div class='kit-box'>
          <div class='kit-box--inner'>
            <img class='is-blocked' src='/images/photo/understanding/box-2.jpg' />
            <div class='kit-box--meta'>
              <p><strong>Pre-filled syringe</strong></p>
              <p>Pre-filled with the exact dose you need so you do not have to prepare the solution.</p>
              <a class='btn btn--block btn--shout' href='#'>Watch the video</a>
            </div>
          </div>
        </div>

        <div class='kit-box'>
          <div class='kit-box--inner'>
            <img class='is-blocked' src='/images/photo/understanding/box-3.jpg' />
            <div class='kit-box--meta'>
              <p><strong>Vial kit</strong></p>
              <p>For children, where the precise dose required needs to be adjusted, the pack contains a small vial of adalimumab and a syringe with a clear dosege guide, allowing parents to safety administer the correct dose.</p>

            </div>
          </div>
        </div>
       
        
      </div>

      <p>These videos are also provided to your patients in their ‘Patient Starter Kit’.<br/>
To learn more about IDACIO, including information about dosage and safety considerations, please view the <a href='#'>Summary of Product Characteristics (SmPC)</a>.</p>
    </div>
  </section>

  <section class="section section--pad-small">
    <div class="container">
        
        <ul class='col--10 push--1 col--8-md push--2-md references'>
          <li>
            <div class='references--title'>References used in the preparation of this webpage</div>
            <div class='references--content'>
              <p>Some content here.</p>

            </div>
          </li>
        </ul>
      
    </div>
  </section>


  
  

</div>

{% endblock %}