{% extends "shared/_layout" %} 

{% set mode="hcp" %}

{% block content %} 

<div class="patient-content">


  <section class="section section--jumbo">
    <div class='section--jumbo-background is-sm-up' style="background-image:url('/images/photo/resources/header--desktop.jpg');"></div>
    <div class='section--jumbo-background is-mobile-only' style="background-image:url('/images/photo/resources/header--mobile.jpg');"></div>
    
    <div class="container">
    
          <h1>Helpful resources</h1>
       
    </div>
  </section>

  <section class="section section--pad-mid section--pad-top-none--mobile text-center--desktop">
    <div class='container container--narrow'>
      <div class='row'>
        <div class='col--8 push--2 col--8-md push--2-md'>
        
          <p>On this page you can access a suite of resources to support you and your patients treated with IDACIO®. The materials marked with an asterisk (*) can also be found in the Patient Starter Kit. </p>
        </div>
      </div>

   

    </div>
  </section>

  <section class="section section--lift section--blue section--pad-top-mid tint-blue">
    <div class="container">

      <h2>Resources for HCPs</h2>

      <div class='resources--wrap'>
        <a href='#' class='resource'>
          <div class='resource--inner'>
            <span class='resource--icon resource--icon-book'></span>
            <img src='/images/resources/placeholder-1.jpg' />
            <div class='resource--info'>
              <h4>IDACIO Summary of Product Characteristics</h4>
            </div>
            <div class='resource--text'>
              <p>Placeholder text.</p>
            </div>
          </div>
        </a>
        <a href='#' class='resource'>
          <div class='resource--inner'>
            <span class='resource--icon resource--icon-book'></span>
            <img src='/images/resources/placeholder-2.jpg' />
            <div class='resource--info'>
              <h4>IDACIO safety monograph</h4>
            </div>
            <div class='resource--text'>
              <p>Placeholder text.</p>
            </div>
          </div>
        </a>
        <a href='#' class='resource'>
          <div class='resource--inner'>
            <span class='resource--icon resource--icon-document'></span>
            <img src='/images/resources/placeholder-3.jpg' />
            <div class='resource--info'>
              <h4>Tuberculosis (TB) screening guide</h4>
            </div>
            <div class='resource--text'>
              <p>Placeholder text.</p>
            </div>
          </div>
        </a>
        
      </div>
    </div>
  </section>


  <section class="section section--lift section--pad-top-mid tint-pink">
    <div class="container">

      <h2>Resources for patients</h2>
      

      <div class='resources--wrap'>
        <a href='#' class='resource'>
          <div class='resource--inner'>
            <span class='resource--icon resource--icon-book'></span>
            <img src='/images/resources/placeholder-1.jpg' />
            <div class='resource--info'>
              <h4>IDACIO patient information leaflet</h4>
            </div>
            <div class='resource--text'>
              <p>A helpful video to show you how to correctly and safely inject IDACIO.</p>
            </div>
          </div>
        </a>
        <a href='#' class='resource'>
          <div class='resource--inner'>
            <span class='resource--icon resource--icon-book'></span>
            <img src='/images/resources/placeholder-2.jpg' />
            <div class='resource--info'>
              <h4>IDACIO instructions for use </h4>
            </div>
            <div class='resource--text'>
              <p>A helpful video to show you how to correctly and safely inject IDACIO.</p>
            </div>
          </div>
        </a>
        <a href='#' class='resource'>
          <div class='resource--inner'>
            <span class='resource--icon resource--icon-video'></span>
            <img src='/images/resources/placeholder-3.jpg' />
            <div class='resource--info'>
              <h4>IDACIO injection training video*</h4>
            </div>
            <div class='resource--text'>
              <p>A helpful video to show you how to correctly and safely inject IDACIO.</p>
            </div>
          </div>
        </a>
        <a href='#' class='resource'>
          <div class='resource--inner'>
            <span class='resource--icon resource--icon-document'></span>
            <img src='/images/resources/placeholder-2.jpg' />
            <div class='resource--info'>
              <h4>Medicine alert card*</h4>
            </div>
            <div class='resource--text'>
              <p>A helpful video to show you how to correctly and safely inject IDACIO.</p>
            </div>
          </div>
        </a>
        <a href='#' class='resource'>
          <div class='resource--inner'>
            <span class='resource--icon resource--icon-document'></span>
            <img src='/images/resources/placeholder-3.jpg' />
            <div class='resource--info'>
              <h4>Travel card* and travel letter template*</h4>
            </div>
            <div class='resource--text'>
              <p>A helpful video to show you how to correctly and safely inject IDACIO.</p>
            </div>
          </div>
        </a>
        <a href='#' class='resource'>
          <div class='resource--inner'>
            <span class='resource--icon resource--icon-document'></span>
            <img src='/images/resources/placeholder-1.jpg' />
            <div class='resource--info'>
              <h4>Introducing IDACIO brochure*</h4>
            </div>
            <div class='resource--text'>
              <p>A helpful video to show you how to correctly and safely inject IDACIO.</p>
            </div>
          </div>
        </a>
        <a href='#' class='resource'>
          <div class='resource--inner'>
            <span class='resource--icon resource--icon-book'></span>
            <img src='/images/resources/placeholder-3.jpg' />
            <div class='resource--info'>
              <h4>Introducing autoimmune diseases*</h4>
            </div>
            <div class='resource--text'>
              <p>A helpful video to show you how to correctly and safely inject IDACIO.</p>
            </div>
          </div>
        </a>
        <a href='#' class='resource'>
          <div class='resource--inner'>
            <span class='resource--icon resource--icon-book'></span>
            <img src='/images/resources/placeholder-1.jpg' />
            <div class='resource--info'>
              <h4>Introducing KabiCare brochure*</h4>
            </div>
            <div class='resource--text'>
              <p>A helpful video to show you how to correctly and safely inject IDACIO.</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>




  
  

</div>

{% endblock %}