{% extends "shared/_layout" %} 

{% set mode="hcp" %}

{% block content %} 

<div class="hcp-index">

  <section class="section section--hero " >

    <div class="container h-100">
      <div class="rellax h-100" data-rellax-speed="5" data-rellax-percentage="0.5"  data-rellax-opacity="true">
        <div class="hcp-index--hero-content">
          
            <h1 class='is-sm-up'><span>KabiCare</span></h1>
            <p><strong>A comprehensive resource for patients prescribed IDACIO<sup>&reg;</sup> and their healthcare practitioners, designed to support patients throughout their disease journey</strong></p>
          
        </div>
      </div>
    </div>
  </section>
  <section class="section section--no-pad hcp-index--fly " >
     <a class='anchor' name='kabicare'></a>
    <div class="container container--pad-top container--pad-bottom">
      <div class="blank--left"></div>
      <div class="blank--right"></div>
      <div class="col push--5-md col--7-md rellax" data-rellax-speed="2" data-rellax-percentage="0.5" data-rellax-m2in="0" data-rellax-opacity="true">
        <h3>What is KabiCare?</h3>
        <ul>
          <li>KabiCare has been designed to provide patients with access to specially created information and tools</li>
          <li>These may be helpful as patients initiate treatment with IDACIO and to support their general wellbeing</li>
          <li>As a healthcare professional, once registered, the HCP portal provides you with the information and guidance you need to support your patients. You can also review the tools and resources available to your patients when they register for the programme</li>
          
        </ul>
      
        <hr/>
        <p><strong>Register here for access to the full site</strong><br/><em>This is only available for healthcare professionals treating patients with IDACIO.</em></p>
        <p><a class='btn btn--alt' href='#'>HCP Website</a></p>
      </div>
    </div>
  </section>
    <a class='anchor' name='biologics'></a>
  <section class="section section--pad-top section--blue section--lift" >
   
    <div class="container">

      <div class="col col--4-md col--5 rellax" data-rellax-speed="2" data-rellax-percentage="0.5">
   
          <h3>Biosimilars and biologics</h3>
          <h4>Helping patients understand the difference</h4>
          <p>Biologic medicines have revolutionised the diagnosis, prevention and treatment of many chronic illnesses and life-threatening diseases. They are defined as large complex molecule medicines developed or derived from natural living organisms utilising state-of-the-art manufacturing techniques due to their unique nature.<sup>1</sup></p>
          <p>The table summarises the differences between a conventional medicine (e.g. acetylsalicylic acid) and a biologic medicine (e.g. adalimumab).<sup>1,2,3</sup></p>
      </div>
    <div class="col push--1 col--7-md col--5 col--full-width-mobile hcp-intro--push-down">
        <img src='/images/patient/patient--autoimmune.jpg' class='hcp-intro--floater hcp-intro--floater-1 rellax' data-rellax-speed="6" data-rellax-percentage="0.5" />
      </div>
      
    </div>
  </section>
  <section class="section section--pad-top section--pad-bottom">
     
    <div class="container">
      <div class="col rellax " data-rellax-speed="2" data-rellax-percentage="0.5">
        
        <p>A biosimilar is defined by the European Medicines Agency as 'a medicine highly similar to another biological medicine already marketed in the European Economic Area (the so-called 'reference medicine')'.<sup>4</sup> Biosimilars are not the same as generic drugs.<sup>4</sup> A generic drug is identical, or bioequivalent to a reference product in all aspects i.e. quality and performance characteristics since it is being built by chemical synthesis.<sup>4</sup> A biosimilar is highly similar, though not identical, to the reference product since it is produced in living cells.<sup>4</sup> However, there are no clinically meaningful differences in terms of efficacy or safety from the reference product.<sup>4</sup></p>
        <p>After several years pharmaceutical drug companies can develop and market biosimilars.<sup>4</sup> Healthcare systems are increasingly keen to use biosimilars that have demonstrated equivalent clinical efficacy and similar safety profiles to the reference product.<sup>4</sup> Biosimilars may offer cost savings to healhcare systems, which can create the opportunity for more state-of-the-art therapies to be accessible to a greater number of patients.<sup>4</sup></p>
      </div>
    </div>
  </section>
  <section class="section section--lift section--blue section--pad-mid">
    <div class="container">
        <div class="p-relative">
          <img src='/images/patient/patient--common.jpg' class='hcp-intro--floater hcp-intro--floater-2 rellax' data-rellax-speed="6" data-rellax-min="0" data-rellax-percentage="0" data-rellax-opacity="true" />
        </div>
     
      <div class="col push--5-md col--7-md rellax" data-rellax-speed="2" data-rellax-percentage="0.5">
        <h3>Common questions </h3>
        <ul class='faqs'>
          <li>
            <div class='faqs--title'>How are biosimialrs approved?</div>
            <div class='faqs--content'>
              <p>IDACIO is a biosimilar to HUMIRA (adalimumab).3  </p>

              <p>The European Medicines Agency approved IDACIO in (January) 2019 as a biosimilar to HUMIRA on the basis that IDACIO works in a comparable way to HUMIRA.3 IDACIO is approved to treat the same conditions as HUMIRA.3 You can find out all the conditions that IDACIO can be used for in the <a href='#'>Patient Information Leaflet</a>.</p>

            </div>
          </li>
          <li>
            <div class='faqs--title'>Do biosimilars have the same immunogenicity as the reference product?<sup>4</sup></div>
            <div class='faqs--content'>
              <p>IDACIO is a biosimilar to HUMIRA (adalimumab).3  </p>

              <p>The European Medicines Agency approved IDACIO in (January) 2019 as a biosimilar to HUMIRA on the basis that IDACIO works in a comparable way to HUMIRA.3 IDACIO is approved to treat the same conditions as HUMIRA.3 You can find out all the conditions that IDACIO can be used for in the <a href='#'>Patient Information Leaflet</a>.</p>

            </div>
          </li>
          <li>
            <div class='faqs--title'>Can a patient be switched from one biosimilar to another biosimilar?<sup>5</sup></div>
            <div class='faqs--content'>
              <p>IDACIO is a biosimilar to HUMIRA (adalimumab).3  </p>

              <p>The European Medicines Agency approved IDACIO in (January) 2019 as a biosimilar to HUMIRA on the basis that IDACIO works in a comparable way to HUMIRA.3 IDACIO is approved to treat the same conditions as HUMIRA.3 You can find out all the conditions that IDACIO can be used for in the <a href='#'>Patient Information Leaflet</a>.</p>

            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section section--pad-mid">
    <div class="container">
      <div class="col col--8 push--2 inview">
        <h2>Register to access the full KabiCare programme</h2>
        <p>This is only available for healthcare professionals treating patients with IDACIO.</p>
        <p><a class='btn btn--alt' href='#'>REGISTER NOW</a></p>

        <ul class='references'>
          <li>
            <div class='references--title'>References used in the preparation of this webpage</div>
            <div class='references--content'>
              <p>Some content here.</p>

            </div>
          </li>
        </ul>
      

      </div>
    </div>
  </section>
</div>

{% endblock %}