{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * CrmUser module for Craft CMS
 *
 * CrmUserModuleWidget Widget Settings
 *
 * @author    3 Feet High
 * @copyright Copyright (c) 2019 3 Feet High
 * @link      lowpitch.com
 * @package   CrmUserModule
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("modules\\crmusermodule\\assetbundles\\crmusermodule\\CrmUserModuleAsset") %}

{{ forms.textField({
    label: 'Message',
    instructions: 'Enter a message here.',
    id: 'message',
    name: 'message',
    value: widget['message']})
}}
