{% extends "shared/_layout" %} 

{% if entry is not defined %}
    {% set entry = craft.entries.uri('404').first() %}
{% endif %}



{% block content %} 

<div class="patient-content">

<section class="section section--pad-mid has-cyan-title">
    <div class='container container--narrow'>
          {{ entry.htmlContent|raw}}
    </div>
  </section>


</div>
{% endblock %}