<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KabiCare</title>
    <link rel="stylesheet" href="https://use.typekit.net/bxt7ony.css">

    <link rel="stylesheet" type="text/css" href="/css/styles.min.css?v2" >
    
</head>
<body {% if currentUser %}class='is-authed'{% endif %}>
 

  <div class="wrap wrap--no-nav">
  
    <div class="landing holding ">

      <div class="landing--intro">
        <div class="container">
          <h1><span class='is-logo'>KabiCare</span></h1>
          <h4>Willkommen auf KabiCare.de</h4>
          <p>An dieser Seite wird noch gearbeitet. In Kürze werden hier alle Inhalte unseres Patientenunterstützungsprogramms zum Abruf bereit stehen.<br/>
          Bis dahin erreichen Sie uns über unsere kostenfreie Hotline: 0800 – 15 5 1925</p>
          <p><em>Ihr KabiCare-Team</em></p>
        </div>
      </div>

      

    </div>
    
    <div class="footer footer--holding">
      <div class="container">
        
          <div class='mobile-spacer'></div>
         
          <a class='is-logo' href='https://www.fresenius-kabi.com/' target='_blank'><img src='/images/logos/fresenius-kabi.png' /></a>
      </div>
    </div>
 </div>
</body>
</html>
