<form method="post" accept-charset="UTF-8">
    {{ csrfInput() }}
    <input type="hidden" name="action" value="crm-user-module/user/register">
    {{ redirectInput('') }}

    {% macro errorList(errors) %}
        {% if errors %}
            <ul class="errors">
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endmacro %}

    {% from _self import errorList %}

    <h3><label for="firstName">First name</label></h3>
    <input id="firstName" type="text" name="firstName"
        {%- if user is defined %} value="{{ user.firstName }}"{% endif %}>

    {% if user is defined %}
        {{ errorList(user.getErrors('firstName')) }}
    {% endif %}

    <h3><label for="lastName">Last name</label></h3>
    <input id="lastName" type="text" name="lastName"
        {%- if user is defined %} value="{{ user.lastName }}"{% endif %}>

    {% if user is defined %}
        {{ errorList(user.getErrors('lastName')) }}
    {% endif %}


    <h3><label for="email">Email</label></h3>
    <input id="email" type="text" name="email"
        {%- if user is defined %} value="{{ user.email }}"{% endif %}>

    {% if user is defined %}
        {{ errorList(user.getErrors('email')) }}
    {% endif %}

    <h3><label for="password">Password</label></h3>
    <input id="password" type="password" name="password">

    {% if user is defined %}
        {{ errorList(user.getErrors('password')) }}
    {% endif %}

    <h3><label for="packCode">Pack code</label></h3>
    <input id="packCode" type="text" name="packCode"
        {%- if user is defined %} value="{{ user.packCode }}"{% endif %}>

    {% if user is defined %}
        {{ errorList(user.getErrors('packCode')) }}
    {% endif %}

    <h3><label for="condition">Condition</label></h3>
    <select id="condition"  name="condition">
        <option value="">Please select</option>
        {%- if user is defined and user.condition %} 
        <option value="{{ user.condition }}" selected>{{ user.condition }}</option>
        {% endif %}>
        <option value="rheumatoid-arthritis">Rheumatoid Arthritis</option> 
        <option value="spondyloarthropathies">Spondyloarthropathies</option> 
        <option value="ankylosing spondylitis">Ankylosing Spondylitis</option> 
        <option value="psoriasis">Psoriasis and Psoriatic Arthritis</option> 
        <option value="ibd">Inflammatory Bowel Disease</option> 
        <option value="non-infectious-uveitis">Non-infectious Uveitis</option> 
        <option value="hidradenitis-suppurativa">Hidradenitis Suppurativa</option> 
    </select>

    {% if user is defined %}
        {{ errorList(user.getErrors('condition')) }}
    {% endif %}

    <p>
        <input type="submit" value="Register">
    </p>
</form>