<!-- <form accept-charset="UTF-8" action="https://dh666.infusionsoft.com/app/form/process/746becb58d0c55518725d07417237cec" class="infusion-form" id="inf_form_746becb58d0c55518725d07417237cec" method="POST">
    <input name="inf_form_xid" type="hidden" value="746becb58d0c55518725d07417237cec" />
    <input name="inf_form_name" type="hidden" value="Opt in test" />
    <input name="infusionsoft_version" type="hidden" value="1.70.0.83870" />
    <div class="infusion-field">
        <label for="inf_field_Email">Email *</label>
        <input class="infusion-field-input" id="inf_field_Email" name="inf_field_Email" placeholder="Email *" type="text" />
    </div>
    <div>
        <div>&nbsp;</div>
    </div>
    <div class="infusion-submit">
        <button class="infusion-recaptcha" id="recaptcha_746becb58d0c55518725d07417237cec" type="submit">Submit</button>
    </div>
</form>
<script type="text/javascript" src="https://dh666.infusionsoft.app/app/webTracking/getTrackingCode"></script>
<script type="text/javascript" src="https://dh666.infusionsoft.com/resources/external/recaptcha/production/recaptcha.js?b=1.70.0.83870"></script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadInfusionRecaptchaCallback&render=explicit" async="async" defer="defer"></script>
<script type="text/javascript" src="https://dh666.infusionsoft.com/app/timezone/timezoneInputJs?xid=746becb58d0c55518725d07417237cec"></script> -->

<form method="post" accept-charset="UTF-8">
    {{ csrfInput() }}
    <input type="hidden" name="action" value="users/login">

    <h3><label for="loginName">Username or email</label></h3>
    <input id="loginName" type="text" name="loginName">

    <h3><label for="password">Password</label></h3>
    <input id="password" type="password" name="password">

    <label>
        <input type="checkbox" name="rememberMe" value="1">
        Remember me
    </label>

    <input type="submit" value="Login">

    {% if errorMessage is defined %}
        <p>{{ errorMessage }}</p>
    {% endif %}
</form>

<p><a href="{{ url('forgotpassword') }}">Forget your password?</a></p>