{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * CrmUser module for Craft CMS
 *
 * CrmUserModuleWidget Widget Body
 *
 * @author    3 Feet High
 * @copyright Copyright (c) 2019 3 Feet High
 * @link      lowpitch.com
 * @package   CrmUserModule
 * @since     1.0.0
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@crm-user-module/assetbundles/crmusermodulewidgetwidget/dist', true) ~ '/img/CrmUserModuleWidget-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>{{ message }}</p>
