{% extends "shared/_layout" %} 



{% block content %} 

<div class="cookie--settings">
  <div class="patient-content">

    <section class="section section--pad-mid section--pad-top-none--mobile has-cyan-title">
      <div class='container'>
            <h2>{{ entry.pageTitle }}</h2>
            {{ entry.introText|raw }}

            <hr/>

            <h4>{{entry.necessaryTitle}}</h4>
            <div class='cookie--section'>
              <div class='cookie--checkbox is-disabled'><input type="checkbox" id="switch1" disabled checked/><label for="switch1">Toggle</label></div>
              <div class='cookie--content'>{{entry.necessaryContent|raw}}</div>
            </div>


            {% if entry.imageBlocks[0] is defined %}
              {% if entry.imageBlocks[0]['mobile_image'] is defined and entry.imageBlocks[0].mobile_image.one() %}
              <img class='is-blocked-auto is-sm-up' src='{{ entry.imageBlocks[0].block_image.one().url}}' />
              <img class='is-blocked-auto is-mobile-only' src='{{ entry.imageBlocks[0].mobile_image.one().url}}' />
              {% else %}
              <img class='is-blocked-auto' src='{{ entry.imageBlocks[0].block_image.one().url}}' />

              {% endif %}
            {% endif %}

            <hr/>

            <h4>{{entry.functionalTitle}}</h4>
            <div class='cookie--section'>
              <div class='cookie--checkbox{% if getCookie('_cookienotifier_accepted') or getCookie('_cookienotifier_refused') %}{% else %} is-disabled{% endif %}'><input class='js-toggle-functional' type="checkbox" id="switch2" {% if getCookie('_cookienotifier_accepted') or getCookie('_cookienotifier_refused') %}checked{% else %}disabled{% endif %}/><label for="switch2">Toggle</label></div>
              <div class='cookie--content'>{{entry.functionalContent|raw}}</div>
            </div>

            {% if entry.imageBlocks[1] is defined %}
              {% if entry.imageBlocks[1]['mobile_image'] is defined and entry.imageBlocks[1].mobile_image.one() %}
              <img class='is-blocked-auto is-sm-up' src='{{ entry.imageBlocks[1].block_image.one().url}}' />
              <img class='is-blocked-auto is-mobile-only' src='{{ entry.imageBlocks[1].mobile_image.one().url}}' />
              {% else %}
              <img class='is-blocked-auto' src='{{ entry.imageBlocks[1].block_image.one().url}}' />

              {% endif %}
            {% endif %}


            <hr />

            <h4>{{entry.analyticalTitle}}</h4>
            <div class='cookie--section'>
              <div class='cookie--checkbox'><input type="checkbox" class='js-toggle-analytical' id="switch3" {% if getCookie('_analytics_accepted') %}checked{% endif %}/><label for="switch3">Toggle</label></div>
              <div class='cookie--checkbox'></div>
              <div class='cookie--content'>{{entry.analyticalContent|raw}}</div>
            </div>

            {% if entry.imageBlocks[2] is defined %}
              {% if entry.imageBlocks[2]['mobile_image'] is defined and entry.imageBlocks[2].mobile_image.one() %}
              <img class='is-blocked-auto is-sm-up' src='{{ entry.imageBlocks[2].block_image.one().url}}' />
              <img class='is-blocked-auto is-mobile-only' src='{{ entry.imageBlocks[2].mobile_image.one().url}}' />
              {% else %}
              <img class='is-blocked-auto' src='{{ entry.imageBlocks[2].block_image.one().url}}' />

              {% endif %}
            {% endif %}


            <hr />

             <div class='cookie--buttons'>
              <a class='cookie--back' href='javascript:history.back()'>&lt; {{entry.backLink}}</a>
              <div class='btn btn--shout cookie--save' href='#'>{{entry.saveButton}} &gt;</div>
            </div>

      </div>



    </section>


  </div>
</div>
{% endblock %}