{% extends "shared/_layout" %} 

{% if entry.hcpOrPatient == "hcp" %}
{% set mode="hcp" %}
{% else %}
{% set mode="patient" %}
{% endif %}


{% block content %} 



<div class="patient-index">

  {% for currentBlock in entry.contentBlocks %}
  
    {% switch currentBlock.type %}

     {% case "heroMasthead" %}
     <div class='patient-index patient-index-special'>
        <section class="section section--hero"  data-help="{{genericContent.scrollDown}}">
          

          <div class="container h-100">
            <div class="col push--7 col--5 rellax h-100" data-rellax-speed="5" data-rellax-percentage="0.5"  data-rellax-opacity="true">
              <div class="patient-index--hero-content">

                  {% for block in currentBlock.landingHeroBlock %}
                    {% if block.type == "hero" %}
                      <h1>{{block.hero_title|raw}}</h1>
                      {{block.hero_subtitle}}
                    {% endif %}
                  {% endfor %}

                  <style>
                    .patient-index-special .section--hero:before {

                        background-image:url(../images/photo/patient--home.jpg);
                    }
                  </style>
              </div>
            </div>
          </div>
        </section>
      </div>



        {% case "columnTextAndImage" %}


        <section class="section {% if currentBlock.blueBackground %}section--blue{% endif %} section--pad-mid">
          <div class='container'>
            <div class='row'>
              <div class='col--10 push--1 '>
                {{ currentBlock.htmlBlocks[0].block_content|raw}}
              </div>
              <div class='col--5 push--1 '>
                
               {{ currentBlock.htmlBlocks[1].block_content|raw}}
              </div>

              <div class='col--5 '>
                <img class='is-blocked' src='{{ currentBlock.imageBlocks[0].block_image.one().url}}' />
              </div>

            </div>

          </div>
        </section>


        {% case "mastheadImageAndTitleBlock" %}

        <section class="section section--jumbo">
          {% for block in currentBlock.heroBlock %}
              {% if block.type == "hero" %}
                <div class='section--jumbo-background is-sm-up' style="background-image:url('{{block.hero_image.one().url }}');"></div>
                <div class='section--jumbo-background is-mobile-only' style="background-image:url('{{block.hero_image_mobile.one().url }}');"></div>
                
                <div class="container">
                
                      <h1>{{block.hero_title|raw|nl2br}}</h1>
                   
                </div>
              {% endif %}
            {% endfor %}
        </section>


        {% case "formattedHtml" %}

        <section class="section {% if currentBlock.blueBackground %}section--blue{% endif %}  section--no-pad">
         
        <div class="container">
          <div>
            
            {{ currentBlock.htmlContent|raw }} 

          </div>
        </div>
      </section>

      {% case "textAndIconsAndFooter" %}

      <section class="section {% if currentBlock.blueBackground %}section--blue{% endif %}  section--pad-mid {% if currentBlock.blueBackground %}section--blue{% endif %}">
          <div class='container'>
            <div class='row'>
              <div class='col--10 push--1 col--8-md push--2-md'>
              
                {{ currentBlock.loginIntroContent|raw }}

                {% for block in currentBlock.storeRows %}
                
                  <div class='store-row'>
                    <img src='{{ block.rowImage.one().url }}'/>
                    {{block.rowContent|raw}}
                  </div>
              
              {% endfor %}


             {{ currentBlock.htmlContent|raw }}
                
              </div>
            </div>

         

          </div>
        </section>

        {% case "accordionTextContent" %}

        <section class="section {% if currentBlock.blueBackground %}section--blue{% endif %}   section--pad-mid">
          <div class="container ">
            <div class='col--10 push--1 col--8-md push--2-md '>
              
             {% if currentBlock.faq_title %}
                <h4>{{ currentBlock.faq_title|raw }}</h4>
              {% endif %}
              {% if currentBlock.faq_intro %}
                {{ currentBlock.faq_intro|raw }}
              {% endif %}


              <ul class='faqs'>
                {% for block in currentBlock.faqs %}
                <li>
                  <div class='faqs--title'>{{ block.question|raw }}</div>
                  <div class='faqs--content'>
                    {{ block.answer|raw }}
                  </div>
                </li>
                {% endfor %}

              </ul>
            
          </div>
        </div>
        </section>

        {% case "referenceAccordion" %}

          <section class="section {% if currentBlock.blueBackground %}section--blue{% endif %}  section--pad-small">
            <div class="container">
               


                 {% if currentBlock.referenceContent is empty %}

                    {% else %}
         
                <ul class='col--10 push--1 col--8-md push--2-md references'>
                  <li>
                    <div class='references--title'>{{ currentBlock.reference_title|raw }}</div>
                    <div class='references--content'>
                      {{ currentBlock.referenceContent|raw }}

                    </div>
                  </li>
                </ul>
                  

                    {% endif %}


              
            </div>
          </section>





          {% case "iconLabelTextGrid" %}


          <section class="section {% if currentBlock.blueBackground %}section--blue{% endif %}   section--pad-small section--mild-strong" >
             
              <div class="container container">
                  
                  <div class='row'>
                    <div class='col--10 push--1'>

                      {{ currentBlock.htmlContent|raw}}

                    </div>
                  

                    <div class='icon-boxes'>

                      {% for block in currentBlock.iconBoxes %}

                        <div class='icon-box'>
                          <img src='{{block.box_image.one().url}}' />
                          <p>{{block.box_content}}</p>
                        </div>


                      {% endfor %}
                      

                    </div>


                  </div>
                 
              </div>
            </section>



            {% case "pageLinkedImageGrid" %}

            <section class="section {% if currentBlock.blueBackground %}section--blue{% endif %}   section--pad-mid">
              <div class="container container">
                  
                  <div class='zoom-boxes--wrap '>

                    {% for block in currentBlock.zoomBoxes %}
                     <a class='zoom-box' href='{{ block.box_link.one().url }}'>
                      <div class='zoom-box--inner'>
                        <div class='zoom-box--img'>
                          

                            <img  src='{{block.box_image.one().url }}' />                              
                       
                          

                          
                        </div>
                        <div class='zoom-box--meta'>
                          {{ block.boxContent}}

                        </div>
                      </div>
                    </a>
                    {% endfor %}


                  

                </div>
                  
                
              </div>
            </section>



          {% case "singleMediaGrid" %}

          <section class="section {% if currentBlock.blueBackground %}section--blue{% endif %}  section--lift  section--pad-mid ">
            <div class="container is-blue-h3">

            
              <div class='clearfix'>
              <div class='kit-boxes--wrap'>
                
                {% for block in currentBlock.usageBoxes %}
                  
                    <div class='kit-box'>
                      <div class='kit-box--inner'>
                        <img class='is-blocked' src='{{ block.box_image.one().url }}' />
                        <div class='kit-box--meta'>
                          <p><strong>{{block.box_title|raw}}</strong></p>
                          {{block.box_content|raw}}
                          {% if block.box_button %}
                          {% set video = block.box_video.one() %}
                          {% set poster = block.optionalVideoPoster.one() %}
                            <a class='btn btn--block btn--shout btn--video' data-video='{% if video %}{{video.url}}{% else %}#{% endif %}' {% if video %}data-poster='{{poster.url}}' {% else %}{% endif %} href='#'>{{ block.box_button|raw }}{% if video %}{% else %} <strong>(VIDEO NOT LINKED)</strong>{% endif %}</a>
                          {% endif %}
                          
                        </div>
                      </div>
                    </div>
                
                {% endfor %}
               
                
              </div>
            </div>

          
            </div>
          </section>


          {% case "resourceGrid" %}

          <section class="section {% if currentBlock.blueBackground %}section--blue{% endif %}  section--lift  ">
            <div class="container">
              <div class='resources--wrap'>

                {% for block in currentBlock.resourceList %}
                {% set resource = block.resource_download.one() %}
                <a target='_blank' href='{% if resource %}{{resource.url}}{% else %}#{% endif %}' class='resource'>
                  <div class='resource--inner'>
                    <span class='resource--icon resource--icon-{{block.resource_icon}}'></span>
                    <img src='{{block.resource_image.one().url}}' />
                    <div class='resource--info'>
                      <h4>{{block.resource_title|raw}}</h4>
                    </div>
                    <div class='resource--text'>
                      <p>{{block.resource_description}}</p>
                    </div>
                  </div>
                </a>
                {% endfor %}


              </div>
            </div>
          </section>

          {% case "imageCarousel" %}

            <section class="section {% if currentBlock.blueBackground %}section--blue{% endif %}  section--lift -default-cols section--pad-top-mid">
              <div class="container">
               

                      <div class='carousel row'>

                        {% for block in currentBlock.carouselImages %}
                           <div class='carousel--item'>
                              <div class='carousel--header'>
                                {{ block.carouselTitle|raw }}
                              </div>
                                <img src='{{ block.carouselImage.one().url }}' />
                            </div>


                            
                        {% endfor %}


                      

                     
                  </div>
              </div>
            </section>


            {% case "lightboxImagesRowOf2" %}


             <section class="section {% if currentBlock.blueBackground %}section--blue{% endif %}  section--pad-mid ">
    <div class='container'>
       <div class='row'>
          <div class='col--10 push--1 col--12-md push--0-md'>
              <h3>{{ currentBlock.faq_title }}</h3>
             
              <div class='image-boxes-wrap has-2'>
                


                {% for block in currentBlock.clinicalDataBoxes %}
          
                    <div class='image-box'>
                      <a href='#' class='image-box--inner' data-img="{{ block.imageBox1_image.one().url }}">
                        <h4>{{ block.imageBox1_title }}</h4>
                        <div class='image-box--img'>
                          <img src='{{ block.imageBox1_image.one().url }}' />
                        </div>
                        {{ block.imageBox1_content|raw }}
                      </a>
                    </div>
              
              {% endfor %}






            </div>
      </div>
        
    </div>
  </section>



   {% case "lightboxImagesRowOf3" %}


             <section class="section {% if currentBlock.blueBackground %}section--blue{% endif %}  section--pad-mid ">
    <div class='container'>
       <div class='row'>
          <div class='col--10 push--1 col--12-md push--0-md'>
              <h3>{{ currentBlock.faq_title }}</h3>
             
              <div class='image-boxes-wrap'>
                


                {% for block in currentBlock.trialBoxes %}
          
                    <div class='image-box'>
                      <a href='#' class='image-box--inner' data-img="{{ block.imageBox2_image.one().url }}">
                        <h4>{{ block.imageBox2_title }}</h4>
                        <div class='image-box--img'>
                          <img src='{{ block.imageBox2_image.one().url }}' />
                        </div>
                        {{ block.imageBox2_content|raw }}
                      </a>
                    </div>
              
              {% endfor %}






            </div>
      </div>
        
    </div>
  </section>



        {% default %}
        <section>
              {{ currentBlock.type }}
        </section>
   

    {% endswitch %}

  {% endfor %}

</div>

{% endblock %}