{% extends "shared/_layout" %} 



{% block content %} 

<div class="patient-content">

<section class="section section--pad-mid has-cyan-title is-footer-page">
    <div class='container container--narrow'>
          {{ entry.htmlContent|raw}}
    </div>
  </section>


</div>
{% endblock %}