{% extends "shared/_layout" %} 

{% set mode="hcp" %}

{% block content %} 

 <div class='modal-outer modal--login modal--login-hcp' style='display:block;  position:relative;'>
        <div class='modal '>

  <div class='modal-wrap' style='display:block; padding-top:2em; padding-bottom:2em;'>
    <div class='modal' style='transform:none; box-shadow: 0 0 10px -2px rgba(0,0,0,0.2);'>
      {% include('/pages/_types/hcp__register-inner') %}
    </div>
  </div>
  
  
</div>
</div>

{% endblock %}