

{% set registerEntry = craft.entries()
    .id(2764)
    .one() %}

{% set hcpReset = craft.entries()
    .id(4674)
    .one() %}


        <div class='modal--left'>

            <h3>{{ registerEntry.sectionTitle }}</h3>
            
              <form method="post" accept-charset="UTF-8" id='registerForm'>
                {{ csrfInput() }}
                <input type="hidden" name="action" value="crm-user-module/user/registerhcp">
                {{ redirectInput('') }}

                {% macro errorList(errors) %}
                    {% if errors %}
                        <ul class="errors">
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endmacro %}

                {% from _self import errorList %}

               
                <div class='form--group'>
                    <!-- <label for="condition">Condition being treated with IDACIO&reg;</label> -->
                    <div class='custom-select'>
                        <select id="title"  name="title">
                            <option value="">Title</option>



                            {%- if user is defined and user.title %} 
                            <option value="{{ user.title }}" selected>{{ user.title }}</option>
                            {% endif %}>

                            <option value="Dr">Dr</option>
                            <option value="Prof">Prof</option>
                            <option value="Mr">Mr</option>
                            <option value="Mrs">Mrs</option>
                            <option value="Miss">Miss</option>
                            <option value="Ms">Ms</option>

                        </select>
                    </div>

                    {% if user is defined %}
                        {{ errorList(user.getErrors('title')) }}
                    {% endif %}
                </div>


                 <div class='form--group'>
                    <!-- <label for="email">Email</label> -->
                    <input id="first_name" type="text" name="first_name" placeholder="First name"
                        {%- if user is defined %} value="{{ user.first_name }}"{% endif %}>

                    {% if user is defined %}
                        {{ errorList(user.getErrors('first_name')) }}
                    {% endif %}
                </div>

                <div class='form--group'>
                    <!-- <label for="email">Email</label> -->
                    <input id="last_name" type="text" name="last_name" placeholder="Last name"
                        {%- if user is defined %} value="{{ user.last_name }}"{% endif %}>

                    {% if user is defined %}
                        {{ errorList(user.getErrors('last_name')) }}
                    {% endif %}
                </div>

                <div class='form--group'>
                    <!-- <label for="condition">Condition being treated with IDACIO&reg;</label> -->
                    <div class='custom-select'>
                        <select id="country"  name="country">
                            <option value="">Country</option>



                            {%- if user is defined and user.country %} 
                            <option value="{{ user.country }}" selected>{{ user.country }}</option>
                            {% endif %}>

                            <option value="England">England</option>
                            <option value="Wales">Wales</option>
                            <option value="Scotland">Scotland</option>
                            <option value="Northern Ireland">Northern Ireland</option>
                            

                        </select>
                    </div>

                    {% if user is defined %}
                        {{ errorList(user.getErrors('country')) }}
                    {% endif %}
                </div>


                <div class='form--group'>
                    <!-- <label for="email">Email</label> -->
                    <input id="healthcare_organisation" type="text" name="healthcare_organisation" placeholder="Healthcare Organisation"
                        {%- if user is defined %} value="{{ user.healthcare_organisation }}"{% endif %}>

                    {% if user is defined %}
                        {{ errorList(user.getErrors('healthcare_organisation')) }}
                    {% endif %}
                </div>


                <div class='form--group'>
                    <!-- <label for="email">Email</label> -->
                    <input id="email" type="text" name="email" placeholder="{{ registerEntry.emailLabel }}"
                        {%- if user is defined %} value="{{ user.email }}"{% endif %}>

                    {% if user is defined %}
                        {{ errorList(user.getErrors('email')) }}
                    {% endif %}
                </div>

                


                <div class='form--group'>
                    <!-- <label for="password">Password</label> -->
                    <input id="password" type="password" name="password" placeholder="{{ registerEntry.passwordLabel }}">

                    {% if user is defined %}
                        {{ errorList(user.getErrors('password')) }}
                    {% endif %}
                </div>

                <div class='form--group'>
                    <!-- <label for="password">Confirm password</label> -->
                    <input id="confirmPassword" type="password" name="confirmPassword" placeholder="{{ registerEntry.confirmPasswordLabel }}">

                    {% if user is defined %}
                        {{ errorList(user.getErrors('confirmPassword')) }}
                    {% endif %}
                </div>


                 <div class='form--group'>
                    <!-- <label for="password">Confirm password</label> -->
                    <input id="registration_number" type="text" name="registration_number" placeholder="Registration Number">

                    {% if user is defined %}
                        {{ errorList(user.getErrors('registration_number')) }}
                    {% endif %}
                </div>



                <div class='form--group form--final'>
                    <div class='custom-checkbox'>
                        <input type='checkbox' id='optIn' name='optIn' value='1' />
                        <label for='optIn'>I have read the <a href='/privacy-policy' target='_blank'><u>Privacy Statement</u></a></label>
                    </div>
                </div>

                 {% if user is defined %}
                        {{ errorList(user.getErrors('optIn')) }}
                    {% endif %}


                <p class='is-error'>{% if errorMessage is defined %}{{ errorMessage }}{% endif %}</p>
                
                

               
                <div class='form--group'>
                    <input type="submit" class='btn btn--alt btn--shout btn--block' value="{{ registerEntry.registerButtonLabel }}">
                </div>
            </form>
        </div>
        <div class='modal--right'>
            <h3>{{ registerEntry.loginSectionTitle }}</h3>
            {{ registerEntry.loginIntroContent|raw }}

            <form method="post" accept-charset="UTF-8" id="patientLoginForm">
            {{ csrfInput() }}
            <input type="hidden" name="action" value="crm-user-module/user/loginhcp">

            <div class='form--group'>
                <input id="loginName" type="text" name="loginName" placeholder="{{ registerEntry.loginEmailLabel }}">
            </div>

            <!-- <label for="password">Password</label> -->
            <div class='form--group'>
                <input id="password" type="password" name="password" placeholder='{{ registerEntry.loginPasswordLabel }}'>


            </div>

           <p class='is-error'>{% if errorMessage is defined %}{{ errorMessage }}{% endif %}</p>
            


             <p class='small is-forgot'><a class="allow-external" href="{{ hcpReset.uri }}">{{ registerEntry.forgotPasswordLabel }}</a></p>


             {# <p class='small is-forgot'><a href="{{ url('forgotpassword') }}">{{ registerEntry.forgotPasswordLabel }}</a></p> #}

            <!-- <div class='form--group form--final'>
                <div class='custom-checkbox'>
                    <input type='checkbox' id='rememberMe' name='rememberMe' value='1' />
                    <label for='rememberMe'>{{ registerEntry.rememberMeLabel }}</label>
                </div>
            </div> -->

            <div class='form--group'>
                    <input type="submit" class='btn btn--shout btn--block' value="{{ registerEntry.loginButtonLabel }}">
            </div>



            
        </form>

       
        </div>
    