{% extends "shared/_layout" %} 


{% set hcpHome = craft.entries()
    .id(3226)
    .one() %}

{% set hcpRegister = craft.entries()
    .id(4191)
    .one() %}


{% set mode="hcp" %}

{% block content %} 

<div class="hcp-index">

  <section class="section section--hero " data-help="{{genericContent.scrollDown}}">

    <div class="container h-100">
      <div class="rellax h-100" data-rellax-speed="5" data-rellax-percentage="0.5"  data-rellax-opacity="false">
        <div class="hcp-index--hero-content">
            {% for block in entry.landingHeroBlock %}
              {% if block.type == "hero" %}
                <h1 class='is-sm-up'>{{block.hero_title|raw}}</h1>
                {{block.hero_subtitle}}
              {% endif %}
            {% endfor %}


          
        </div>
      </div>
    </div>
  </section>
  <a class='anchor' name='kabicare'></a>
  <section class="section section--no-pad hcp-index--fly " >
     
    <div class="container container--pad-top container--pad-bottom">
      <div class="blank--left"></div>
      <div class="blank--right"></div>
      <div class="col push--5-md col--7-md rellax" data-rellax-speed="2" data-rellax-percentage="0.5" data-rellax-m2in="0" data-rellax-opacity="true">
        
        {{ entry.htmlAndOptionalButtons[0].html_content|raw }} 

        {% if hcpUser %}
          <p><a class='btn btn--alt' href='{{hcpHome.uri}}'>{{ entry.htmlAndOptionalButtons[0].buttonLink|raw }}</a></p>
        {% else %}
          <p><a class='is-sign-in btn btn--alt btn--big-centered' href='{{hcpRegister.uri}}'>{{ entry.htmlAndOptionalButtons[0].buttonLink|raw }}</a></p>
        {% endif %}

      </div>
    </div>
  </section>
  <a class='anchor' name='biologics'></a>
  <section class="section section--pad-top section--blue section--lift" >
   
    <div class="container">

      <div class="col col--4-md col--5 rellax" data-rellax-speed="2" data-rellax-percentage="0.5">
          
          {{ entry.htmlAndOptionalButtons[1].html_content|raw }} 

         

      </div>
    <div class="col push--1 col--7-md col--5 col--full-width-mobile hcp-intro--push-down2">
        <img src='{{ entry.imageBlocks[0].block_image.one().url}}' class='hcp-intro--floater hcp-intro--floater-1 rellax' data-rellax-speed="2" data-rellax-percentage="0.5" />
      </div>
      
    </div>
  </section>
  <section class="section section--pad-top section--pad-bottom">
     
    <div class="container">
      <div class="col rellax " data-rellax-speed="2" data-rellax-percentage="0.5">
        
        {{ entry.htmlAndOptionalButtons[2].html_content|raw }} 

      </div>
    </div>
  </section>
  <section class="section section--lift section--blue section--pad-mid">
    <div class="container">
        
     
      <div class="col push--5-md col--7-md rellax" data-rellax-speed="2" data-rellax-percentage="0.5">

         {% if entry.faq_title %}
          <h3>{{ entry.faq_title|raw }}</h3>
        {% endif %}
        {% if entry.faq_intro %}
          {{ entry.faq_intro|raw }}
        {% endif %}
        <ul class='faqs'>
          {% for block in entry.faqs %}
          <li>
            <div class='faqs--title'>{{ block.question|raw }}</div>
            <div class='faqs--content'>
              {{ block.answer|raw }}
            </div>
          </li>
          {% endfor %}

        </ul>
        
      </div>
      <div class="p-relative pe-none">

        {% if entry.imageBlocks[1]['mobile_image'] is defined and entry.imageBlocks[1].mobile_image.one() %}
          <img src='{{ entry.imageBlocks[1].block_image.one().url}}' class='hcp-intro--floater hcp-intro--floater-2 rellax is-wide-only' data-rellax-speed="6" data-rellax-min="0" data-rellax-percentage="0" data-rellax-opacity="true" />
          <img src='{{ entry.imageBlocks[1].mobile_image.one().url}}' class='hcp-intro--floater hcp-intro--floater-2 rellax is-except-wide' data-rellax-speed="6" data-rellax-min="0" data-rellax-percentage="0" data-rellax-opacity="true" />


        {% else %}
          <img src='{{ entry.imageBlocks[1].block_image.one().url}}' class='hcp-intro--floater hcp-intro--floater-2 rellax' data-rellax-speed="6" data-rellax-min="0" data-rellax-percentage="0" data-rellax-opacity="true" />
        {% endif %}

          
        </div>
    </div>
  </section>
  <section class="section section--pad-mid">
    <div class="container">
      <div class="col col--8 push--2 inview">
        

        {{ entry.htmlAndOptionalButtons[3].html_content|raw }} 

        {% if hcpUser %}
          <p><a class='btn btn--alt btn--big-centered' href='{{hcpHome.uri}}'>{{ entry.htmlAndOptionalButtons[3].buttonLink|raw }}</a></p>
        {% else %}
          <p><a class='is-sign-in btn btn--alt btn--big-centered' href='{{hcpRegister.uri}}'>{{ entry.htmlAndOptionalButtons[3].buttonLink|raw }}</a></p>
        {% endif %}


        

        {% if entry.referenceContent is empty %}

            {% else %}

           <ul class='references'>
              <li>
                <div class='references--title'>{{ entry.reference_title|raw }}</div>
                <div class='references--content'>
                  {{ entry.referenceContent|raw }}

                </div>
              </li>
            </ul>

            {% endif %}
      

      </div>
    </div>
  </section>
</div>

{% endblock %}