{% extends "shared/_layout" %} 

{% set mode="hcp" %}

{% requireHCP %}

{% block content %} 

<div class="patient-content hcp-content">


  <section class="section section--jumbo section--jumbo-introducing">
    {% for block in entry.heroBlock %}
        {% if block.type == "hero" %}
          <div class='section--jumbo-background is-sm-up' style="background-image:url('{{block.hero_image.one().url }}');"></div>
          <div class='section--jumbo-background is-mobile-only' style="background-image:url('{{block.hero_image_mobile.one().url }}');"></div>
          
          <div class="container">
          
                <h1>{{block.hero_title|raw|nl2br}}</h1>
             
          </div>
        {% endif %}
      {% endfor %}
  </section>

  <section class="section section--pad-mid  tint-all-pink">
    <div class='container'>
     
        <div class='row'>
          <div class='col--10 push--1 col--8-md push--2-md'>
           {{ entry.htmlAndOptionalButtons[0].html_content|raw }} 

           <img class='is-blocked is-sm-up' src='{{ entry.imageBlocks[0].block_image.one().url}}' />
            <img class='is-blocked is-mobile-only' src='{{ entry.imageBlocks[0].mobile_image.one().url}}' />


          </div>
        </div>
    </div>
  </section>

  <section class="section section--lift section--blue-default-cols section--pad-top-mid">
    <div class="container">

      <div class='row'>
          <div class='col--10 push--1 col--12-md push--0-md'>
            {{ entry.htmlAndOptionalButtons[1].html_content|raw }} 


             <img class='is-blocked is-wide-only l--margin-bottom' src='{{ entry.imageBlocks[1].block_image.one().url}}' />
            <img class='is-blocked is-except-wide l--margin-bottom' src='{{ entry.imageBlocks[1].mobile_image.one().url}}' />


            {{ entry.htmlAndOptionalButtons[2].html_content|raw }}
            
            <div class='image-boxes-wrap has-2'>

              {% for block in entry.clinicalDataBoxes %}
          
                    <div class='image-box'>
                      <a href='#' class='image-box--inner' data-img="{{ block.imageBox1_image.one().url }}">
                        <h4>{{ block.imageBox1_title }}</h4>
                        <div class='image-box--img'>
                          <img src='{{ block.imageBox1_image.one().url }}' />
                        </div>
                        {{ block.imageBox1_content|raw }}
                      </a>
                    </div>
              
              {% endfor %}


              
            </div>
          </div>

      </div>
    </div>
  </section>

  <section class="section section--pad-mid  tint-all-pink">
    <div class='container'>
       <div class='row'>
          <div class='col--10 push--1 col--12-md push--0-md'>
              {{ entry.htmlAndOptionalButtons[3].html_content|raw }} 
             
              <div class='image-boxes-wrap'>
                


                {% for block in entry.trialBoxes %}
          
                    <div class='image-box'>
                      <a href='#' class='image-box--inner' data-img="{{ block.imageBox2_image.one().url }}">
                        <h4>{{ block.imageBox2_title }}</h4>
                        <div class='image-box--img'>
                          <img src='{{ block.imageBox2_image.one().url }}' />
                        </div>
                        {{ block.imageBox2_content|raw }}
                      </a>
                    </div>
              
              {% endfor %}






            </div>
      </div>
        
    </div>
  </section>

  <section class="section section--lift section--blue-default-cols section--pad-top-mid">
    <div class="container">
      <div class='row'>
          <div class='col--10 push--1'>
      
            {{ entry.htmlAndOptionalButtons[4].html_content|raw }} 
          </div>
        </div>

            <div class='carousel row'>

              {% for block in entry.carouselImages %}
                 <div class='carousel--item'>
                    <div class='carousel--header'>
                      {{ block.carouselTitle|raw }}
                    </div>
                      <img src='{{ block.carouselImage.one().url }}' />
                  </div>


                  
              {% endfor %}


            

           
        </div>
    </div>
  </section>


  <section class="section section--pad-mid tint-all-pink">
    <div class='container'>
     
        <div class='row'>
          <div class='col--10 push--1 '>
            {{ entry.htmlAndOptionalButtons[5].html_content|raw }} 

             <img class='is-blocked is-wide-only ' src='{{ entry.imageBlocks[2].block_image.one().url}}' />
            <img class='is-blocked is-except-wide' src='{{ entry.imageBlocks[2].mobile_image.one().url}}' />


          </div>
        </div>
    </div>
  </section>


  <section class="section section--lift section--blue section--pad-mid ">
    <div class="container is-blue-h3">

      {{ entry.htmlAndOptionalButtons[6].html_content|raw }} 
      <div class='clearfix'>
      <div class='kit-boxes--wrap is-white'>
        
        {% for block in entry.usageBoxes %}
          
            <div class='kit-box'>
              <div class='kit-box--inner'>
                <img class='is-blocked' src='{{ block.box_image.one().url }}' />
                <div class='kit-box--meta'>
                  <p><strong>{{block.box_title|raw}}</strong></p>
                  {{block.box_content|raw}}
                  {% if block.box_button %}
                  {% set video = block.box_video.one() %}
                  {% set poster = block.optionalVideoPoster.one() %}
                    <a class='btn btn--block btn--shout btn--video' data-video='{% if video %}{{video.url}}{% else %}#{% endif %}' {% if video %}data-poster='{{poster.url}}' {% else %}{% endif %} href='#'>{{ block.box_button|raw }}{% if video %}{% else %} <strong>(VIDEO NOT LINKED)</strong>{% endif %}</a>
                  {% endif %}
                  
                </div>
              </div>
            </div>
        
        {% endfor %}
       
        
      </div>
    </div>

     {{ entry.htmlAndOptionalButtons[7].html_content|raw }} 
    </div>
  </section>

  <section class="section section--pad-small">
    <div class="container">
        
        

         {% if entry.referenceContent is empty %}

            {% else %}
          <ul class='col--10 push--1 col--8-md push--2-md references'>
          <li>
            <div class='references--title'>{{ entry.reference_title|raw }}</div>
            <div class='references--content'>
              {{ entry.referenceContent|raw }}

            </div>
          </li>
        </ul>
           

            {% endif %}

      
    </div>
  </section>


  
  

</div>

{% endblock %}