{% set registerEntry = craft.entries()
    .id(4191)
    .one() %}

<h3 style='color:white'>{{registerEntry.hcpConfirmTitle}}</h3>
{{registerEntry.hcpConfirmContent|raw}}

<div>
    <div class='radio-wrap'><input type='radio' name='confirm-hcp' value='1' id='confirm-hcp-yes'/><label for='confirm-hcp-yes'>{{registerEntry.hcpConfirmYes}}</label></div>
    <div class='radio-wrap'><input type='radio'name='confirm-hcp' value='0' id='confirm-hcp-no'/><label for='confirm-hcp-no'>{{registerEntry.hcpConfirmNo}}</label></div>
</div>
<a href='/hcp/return' class='btn-confirm-hcp btn btn--block btn--alt is-dim'>{{registerEntry.hcpConfirmSubmit}}</a>