{% set parent = craft.entries()
    .slug(hcpSlug.hcpSlug)
    .one() %}

{% set registerEntry = craft.entries()
    .id(4191)
    .one() %}

    <div class='iframe-wrap'>
        <iframe align="left" class="is-sm-up" frameborder="0" scrolling="no"  name="dc_login_iframe" id="dc_login_iframe" src="{{registerEntry.docCheckUrl}}" ><a href="{{registerEntry.docCheckUrl}}" target="_blank">LOGIN</a></iframe>

        <iframe align="left" class="is-mobile-only" frameborder="0" scrolling="no"  name="dc_login_iframe" id="dc_login_iframe" src="{{registerEntry.docCheckUrl|replace('_xl', '_m')}}" ><a href="{{registerEntry.docCheckUrl|replace('_xl', '_m') }}" target="_blank">LOGIN</a></iframe>

    </div>

    <div style='margin-bottom:2em;'>
        {{ registerEntry.htmlContent|raw }}
    </div>
