

{% extends "shared/_layout" %} 

{% set hideNav=true %}

{% block content %} 

{% set patientIndex = craft.entries()
    .id(666)
    .one() %}

{% set hcpIndex = craft.entries()
    .id(3029)
    .one() %}




{% for block in entry.landingPageIntro %}

  {% if block.disableHcpSection %}
    {% set hcpUrl = "#" %}
  {% else %}
    {% set hcpUrl = "/" ~ hcpIndex.slug  %}
  {% endif %}
<div class="landing">

  <div class="landing--intro">
    <div class="container">
      <h1><span>{{block.firstWordOfTitle}}</span><span class='is-logo'>{{block.logoWord}}</span></h1>
      {{block.introContent|raw}}
    </div>
  </div>

  <div class="container--fluid landing--blocks">
    <a href='/{{patientIndex.slug}}' class="landing--block is-patient" {% if entry.imageBlocks[0] is defined and entry.imageBlocks[0].block_image.one() %}style="background-image:url({{entry.imageBlocks[0].block_image.one().url}});" {% endif %}>
      <div class='landing--inner'>
        <span class='btn'>{{block.patientButton|raw}}</span>
        {{block.patientHoverText|raw}}
      </div>
    </a>
    <a href='{{hcpUrl}}' {% if hcpUrl == "#"%} onclick="return false;" {% endif %} class="landing--block is-hcp" {% if entry.imageBlocks[1] is defined and entry.imageBlocks[1].block_image.one() %}style="background-image:url({{entry.imageBlocks[1].block_image.one().url}});" {% endif %}>
      <div class='landing--inner'>
        <span class='btn'>{{block.hcpButton|raw}}</span>
        {{block.hcpHoverText|raw}}
      </div>
    </a>
    <a href='{{block.publicUrl}}' class="landing--block is-public" {% if entry.imageBlocks[2] is defined and entry.imageBlocks[2].block_image.one() %}style="background-image:url({{entry.imageBlocks[2].block_image.one().url}});transform:scale(1.01,1);transform-origin:0% 50%" {% endif %}>
      <div class='landing--inner'>
        <span class='btn'>{{block.publicButton|raw}}</span>
        {{block.publicHoverText|raw}}
      </div>
    </a>
  </div>

</div>

{% endfor %}
{% endblock %}