{% requirePatient %}

{% extends "shared/_layout" %} 

{% set mode="patient" %}

{% block content %} 

<div class="patient-content">


  <section class="section section--jumbo">

    {% for block in entry.heroBlock %}
        {% if block.type == "hero" %}
          <div class='section--jumbo-background is-sm-up' style="background-image:url('{{block.hero_image.one().url }}');"></div>
          <div class='section--jumbo-background is-mobile-only' style="background-image:url('{{block.hero_image_mobile.one().url }}');"></div>
          
          <div class="container">
          
                <h1>{{block.hero_title|nl2br}}</h1>
             
          </div>
        {% endif %}
      {% endfor %}


    
  </section>

  <section class="section section--pad-mid section--pad-top-none--mobile text-center--desktop">
    <div class='container container--narrow'>
      <div class='row'>
        <div class='col--8 push--2 col--8-md push--2-md'>
          

          {{entry.htmlContent|raw}}


        </div>
      </div>
    </div>
  </section>

  <section class="section section--blue section--pad-mid">
    <div class="container container--narrow">
        
        <ul class='faqs'>
          {% for block in entry.faqs %}
          <li>
            <div class='faqs--title'>{{ block.question }}</div>
            <div class='faqs--content'>
              {{ block.answer|raw }}
            </div>
          </li>
          {% endfor %}

        </ul>
      
    </div>
  </section>

  <section class="section section--pad-small">
    <div class="container container--narrow">
        
         {% if entry.referenceContent is empty %}

            {% else %}

           <ul class='references'>
              <li>
                <div class='references--title'>{{ entry.reference_title|raw }}</div>
                <div class='references--content'>
                  {{ entry.referenceContent|raw }}

                </div>
              </li>
            </ul>

            {% endif %}
      
    </div>
  </section>

</div>

{% endblock %}