{% extends "shared/_layout" %} 

{% set mode="patient" %}

{% block content %} 

<div class="patient-content">

  <div class='modal-wrap' style='display:block; padding-top:2em; padding-bottom:2em;'>
    <div class='modal' style='transform:none; box-shadow: 0 0 10px -2px rgba(0,0,0,0.2);'>
      {% include('/pages/_types/patient__register-inner') %}
    </div>
  </div>
  
  

</div>

{% endblock %}