{% extends "shared/_layout" %} 

{% set mode="patient" %}

{% set patientIndex = craft.entries()
    .id(666)
    .one() %}

{% set patientHome = craft.entries()
    .id(213)
    .one() %}

{% set patientRegister = craft.entries()
    .id(2764)
    .one() %}

{% block content %} 

<div class="patient-index">

  <section class="section section--hero"  data-help="{{genericContent.scrollDown}}">
    

    <div class="container h-100">
      <div class="col push--7 col--5 rellax h-100" data-rellax-speed="5" data-rellax-percentage="0.5"  data-rellax-opacity="true">
        <div class="patient-index--hero-content">

            {% for block in entry.landingHeroBlock %}
              {% if block.type == "hero" %}
                <h1>{{block.hero_title|raw}}</h1>
                {{block.hero_subtitle}}
              {% endif %}
            {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <section class="section section--no-pad patient-index--fly " >
    <div class="container container--pad-top container--pad-bottom">
      <div class="blank--left"></div>
      <div class="blank--right"></div>
      <div class="col push--5-md col--7-md rellax" data-rellax-speed="2" data-rellax-percentage="0.5" data-rellax-m2in="0" data-rellax-opacity="true">
       


        {{ entry.htmlAndOptionalButtons[0].html_content|raw }} 

        {% if currentUser %}
          <p><a class='btn btn--alt btn--shout' href='{{patientHome.uri}}'>{{ entry.htmlAndOptionalButtons[0].buttonLink|raw }}</a></p>
        {% else %}
          <p><a class='is-sign-in btn btn--alt btn--shout' href='{{patientRegister.uri}}'>{{ entry.htmlAndOptionalButtons[0].buttonLink|raw }}</a></p>
        {% endif %}
        
      </div>
    </div>
  </section>
   <a class='anchor' name='autoimmune'></a>
  <section class="section section--pad-top  section--blue section--lift" >
   
    <div class="container">

      <div class="col col--4-md col--6 rellax margin-bottom-mobile has-wide-h1" data-rellax-speed="2" data-rellax-percentage="0.5">
   
         
        {{ entry.htmlAndOptionalButtons[1].html_content|raw }} 


        {% if currentUser %}
          <p><a class='btn btn--shout' href='{{patientHome.uri}}'>{{ entry.htmlAndOptionalButtons[1].buttonLink|raw }}</a></p>
        {% else %}
          <p><a class='is-sign-in btn btn--shout' href='{{patientRegister.uri}}'>{{ entry.htmlAndOptionalButtons[1].buttonLink|raw }}</a></p>
        {% endif %}


        
      </div>
    <div class="col push--1-md col--7-md col--6 col--full-width-mobile patient-intro--push-down">
        <img src='/images/patient/patient--autoimmune.jpg' class='patient-intro--floater patient-intro--floater-1 rellax patient--intro-push-left-sm' data-rellax-speed="6" data-rellax-percentage="0.5" />
      </div>
      
    </div>
  </section>
   <a class='anchor' name='biologics'></a>
  <section class="section section--pad-top section--pad-bottom-mid">
    
    <div class="container">
      <div class="rellax " data-rellax-speed="2" data-rellax-percentage="0.5">
        
        <div class='col col--10'>

        {{ entry.htmlAndOptionalButtons[2].html_content|raw }} 
        </div>

        {% if entry.imageBlocks[0] is defined %}
        <div class='row l--margin-bottom--small'>
          
          <div class='col col--10 '>
            {% if entry.imageBlocks[0]['mobile_image'] is defined and entry.imageBlocks[0].mobile_image.one() %}
            <img class='is-blocked is-sm-up' src='{{ entry.imageBlocks[0].block_image.one().url}}' />
            <img class='is-blocked is-mobile-only' src='{{ entry.imageBlocks[0].mobile_image.one().url}}' />
            {% else %}
            <img class='is-blocked' src='{{ entry.imageBlocks[0].block_image.one().url}}' />

            {% endif %}
            
          </div>
         
        </div>
        {% endif %}

        <div class='col col--10'>

          {{ entry.htmlAndOptionalButtons[3].html_content|raw }} 
        </div>



      </div>
    </div>
  </section>
  

  {% if entry.htmlAndOptionalButtons[4] is defined %}
  <section class="section section--pad-mid section--blue text-center">
    <div class="container">
      <div class="col push--3 col--6 ">
        {{ entry.htmlAndOptionalButtons[4].html_content|raw }} 

        {% if currentUser %}
          <p><a class='btn btn--block btn--shout' href='{{patientHome.uri}}'>{{ entry.htmlAndOptionalButtons[4].buttonLink|raw }}</a></p>
        {% else %}
          <p><a class='is-sign-in btn btn--block btn--shout' href='{{patientRegister.uri}}'>{{ entry.htmlAndOptionalButtons[4].buttonLink|raw }}</a></p>
        {% endif %}
        
      </div>
    </div>
  </section>
  {% endif %}

  <section class="section section--pad-small">
    <div class="container">
        
        <div class='row'>
          <div class='col--8 push--2 '>
            


           
            {% if entry.referenceContent is empty %}

            {% else %}

           <ul class='references'>
              <li>
                <div class='references--title'>{{ entry.reference_title|raw }}</div>
                <div class='references--content'>
                  {{ entry.referenceContent|raw }}

                </div>
              </li>
            </ul>

            {% endif %}
          </div>
        </div>
      
    </div>
  </section>

</div>

{% endblock %}