{% extends "shared/_layout" %} 

{% set mode="patient" %}

{% block content %} 

{% if entry2 is defined %}

{% set entry = entry2 %}

{% endif %}

<div class="patient-content">
  <section class="section section--jumbo">
    {% for block in entry.heroBlock %}
        {% if block.type == "hero" %}
          <div class='section--jumbo-background is-sm-up' style="background-image:url('{{block.hero_image.one().url }}');"></div>
          <div class='section--jumbo-background is-mobile-only' style="background-image:url('{{block.hero_image_mobile.one().url }}');"></div>
          
          <div class="container">
          
                <h1>{{block.hero_title|raw|nl2br}}</h1>
             
          </div>
        {% endif %}
      {% endfor %}
  </section>

  <section class="section section--pad-mid section--pad-top-none--mobile">
    <div class='container'>
      <div class='row'>
        <div class='col--5 push--1'>
          {{ entry.htmlBlocks[0].block_content|raw}}
        </div>

        <div class='col--5'>
          <img class='is-blocked' alt='Diagram of the bowel' src='{{ entry.imageBlocks[0].block_image.one().url}}' />
        </div>

      </div>

    </div>
  </section>

  <section class="section section--pad-small section--dark-blue">
    <div class='container'>
      <div class='row'>
        <div class='col--10 push--1 text-center'>
            <p class='shout'>{{ entry.textBlocks[0].blockContent}}</p>
            <p class='shout'><a href='#chrons' class='is-scroll btn'>{{ entry.textBlocks[1].blockContent}}</a> <span class='separator'>{{ entry.textBlocks[2].blockContent}}</span> <a href='#colitis' class='is-scroll btn'>{{ entry.textBlocks[3].blockContent}}</a></p>
        </div>

       
      </div>

    </div>
  </section>
 
  <section class="section section--blue section--pad-small section--mild-strong" >
     <a class='anchor' name='chrons'>&nbsp;</a>
    <div class="container container">
        
        <div class='row'>
          <div class='col--10 push--1'>

            {{ entry.htmlBlocks[1].block_content|raw}}

          </div>
        

          <div class='icon-boxes'>

            {% for block in entry.iconBoxes %}

              <div class='icon-box'>
                <img src='{{block.box_image.one().url}}' />
                <p>{{block.box_content}}</p>
              </div>


            {% endfor %}
            

          </div>


        </div>
        <div class='col--10 push--1 '>
          {{ entry.htmlBlocks[2].block_content|raw}}

        </div>
      
    </div>
  </section>

  <section class="section section--pad-mid section--pad-bottom-small">
    <div class='container'>
      <div class='row'>
        <div class='col--10 push--1 '>
          {{ entry.htmlBlocks[3].block_content|raw}}
        </div>

      </div>

    </div>
  </section>

  <section class="section section--pad-mid section--pad-bottom-small section--no-pad-top">
    <div class='container'>
      <div class='row'>
        <div class='col--10 push--1 '>
          {{ entry.htmlBlocks[4].block_content|raw}}
        </div>
        <div class='col--5 push--1 '>
          
         {{ entry.htmlBlocks[5].block_content|raw}}
        </div>

        <div class='col--5 '>
          <img class='is-blocked' alt='Doctor writing a prescription' src='{{ entry.imageBlocks[1].block_image.one().url}}' />
        </div>

      </div>

    </div>
  </section>


 <!--  <section class="section section--pad-small section--no-pad-top">
    <div class="container">
        
        <div class='row'>
          <div class='col--10 push--1 '>
            {{ entry.htmlBlocks[6].block_content|raw}}
            
          </div>
        </div>
      
    </div>
  </section> -->


  <section class="section section--blue section--pad-small section--mild-strong" >
    <a class='anchor' name='colitis'>&nbsp;</a>  
    <div class="container container">
        
        <div class='row'>
          <div class='col--10 push--1'>

            {{ entry.htmlBlocks[6].block_content|raw}}

          </div>
        

          <div class='icon-boxes'>

            {% for block in entry.moreIconBoxes %}

              <div class='icon-box'>
                <img src='{{block.box_image.one().url}}' />
                <p>{{block.box_content}}</p>
              </div>


            {% endfor %}
            

          </div>


        </div>
        <div class='col--10 push--1 '>
          {{ entry.htmlBlocks[7].block_content|raw}}

        </div>
      
    </div>
  </section>

  <section class="section section--pad-mid section--pad-bottom-small">
    <div class='container'>
      <div class='row'>
        <div class='col--10 push--1 '>
          {{ entry.htmlBlocks[8].block_content|raw}}
        </div>

      </div>

    </div>
  </section>

  <section class="section section--pad-mid section--pad-bottom-small section--no-pad-top">
    <div class='container'>
      <div class='row'>
        <div class='col--10 push--1 '>
          {{ entry.htmlBlocks[9].block_content|raw}}
        </div>
        <div class='col--5 push--1 '>
          
          {{ entry.htmlBlocks[10].block_content|raw}}
        </div>

        <div class='col--5 '>
          <img class='is-blocked' alt='Doctor writing a prescription' src='{{ entry.imageBlocks[2].block_image.one().url}}' />
        </div>

      </div>

    </div>
  </section>




  <section class="section section--pad-small section--no-pad-top">
    <div class="container">
        
        <div class='row'>
          <div class='col--10 push--1 '>

            {% if entry.htmlBlocks[11] is defined %}
            {{ entry.htmlBlocks[11].block_content|raw}}
            {% endif %}
             {% if entry.referenceContent is empty %}

            {% else %}

           <ul class='references'>
              <li>
                <div class='references--title'>{{ entry.reference_title|raw }}</div>
                <div class='references--content'>
                  {{ entry.referenceContent|raw }}

                </div>
              </li>
            </ul>

            {% endif %}
          </div>
        </div>
      
    </div>
  </section>

</div>

{% endblock %}