{% requirePatient %}

{% extends "shared/_layout" %} 

{% set mode="patient" %}

{% block content %} 

<div class="patient-content">


  <section class="section section--jumbo">
     {% for block in entry.heroBlock %}
        {% if block.type == "hero" %}
          <div class='section--jumbo-background is-sm-up' style="background-image:url('{{block.hero_image.one().url }}');"></div>
          <div class='section--jumbo-background is-mobile-only' style="background-image:url('{{block.hero_image_mobile.one().url }}');"></div>
          
          <div class="container">
          
                <h1>{{block.hero_title|raw|nl2br}}</h1>
             
          </div>
        {% endif %}
      {% endfor %}
  </section>

  <section class="section section--pad-mid section--pad-top-none--mobile">
    <div class='container'>
      <div class='row'>
        <div class='col--10 push--1 col--8-md push--2-md'>
        
          
          {{ entry.howIdacioWorks|raw }}
        </div>
      </div>

   

    </div>
  </section>

  <section class="section section--lift section--no-pad ">
    <div class="container">
      <div class='kit-boxes--wrap '>
        
        {% for block in entry.usageBoxes %}
          
            <div class='kit-box'>
              <div class='kit-box--inner'>
                <img class='is-blocked' src='{{ block.box_image.one().url }}' />
                <div class='kit-box--meta'>
                  <p><strong>{{block.box_title|raw}}</strong></p>
                  {{block.box_content|raw}}
                  {% if block.box_button %}
                  {% set video = block.box_video.one() %}
                  {% set poster = block.optionalVideoPoster.one() %}
                    <a class='btn btn--block btn--shout btn--video' data-video='{% if video %}{{video.url}}{% else %}#{% endif %}' {% if video %}data-poster='{{poster.url}}' {% else %}{% endif %} href='#'>{{ block.box_button|raw }}{% if video %}{% else %} <strong>(VIDEO NOT LINKED)</strong>{% endif %}</a>
                  {% endif %}
                  
                </div>
              </div>
            </div>
        
        {% endfor %}


        

        
      </div>
    </div>
  </section>

   <section class="section section--lift section--pad-mid section--no-pad-top section--pad-top-none--mobile ">
      <div class='container'>
        <div class='row'>

          <div class='col--10 push--1 col--12-md push--0-md'>
              {{ entry.otherInstructions|raw }}

          </div>
        </div>

     </div>
   </section>

   <section class="section section--pad-mid section--blue">
    <div class='container'>
      <div class='row'>
        <div class='col--10 push--1 col--8-md push--2-md'>
        
          {{ entry.howToStore|raw }}

          {% for block in entry.storeRows %}
          
            <div class='store-row'>
              <img src='{{ block.rowImage.one().url }}'/>
              {{block.rowContent|raw}}
            </div>
        
        {% endfor %}


       {{ entry.otherStorageInformation|raw }}
          
        </div>
      </div>

   

    </div>
  </section>

  <section class="section section--pad-mid">
    <div class='container'>
      <div class='row'>
        <div class='col--10 push--1 col--8-md push--2-md'>
        
          {{ entry.howOften|raw }}

        </div>
      </div>

   

    </div>
  </section>

  <section class="section section--blue section--pad-mid">
    <div class="container ">
      <div class='col--10 push--1 col--8-md push--2-md '>
        {% if entry.faq_title %}
          <h4>{{ entry.faq_title|raw }}</h4>
        {% endif %}
        {% if entry.faq_intro %}
          {{ entry.faq_intro|raw }}
        {% endif %}
        <ul class='faqs'>
          {% for block in entry.faqs %}
          <li>
            <div class='faqs--title'>{{ block.question|raw }}</div>
            <div class='faqs--content'>
              {{ block.answer|raw }}
            </div>
          </li>
          {% endfor %}

        </ul>
      
    </div>
  </div>
  </section>

  <section class="section section--pad-small">
    <div class="container">
       


         {% if entry.referenceContent is empty %}

            {% else %}
 
        <ul class='col--10 push--1 col--8-md push--2-md references'>
          <li>
            <div class='references--title'>{{ entry.reference_title|raw }}</div>
            <div class='references--content'>
              {{ entry.referenceContent|raw }}

            </div>
          </li>
        </ul>
          

            {% endif %}


      
    </div>
  </section>




  
  

</div>

{% endblock %}