{% requirePatient %}

{% extends "shared/_layout" %} 

{% set mode="patient" %}

{% block content %} 

 {% set registerEntry = craft.entries()
    .id(2764)
    .one() %}



 {% requireLogin %}


<section class="section" >
  <div class="container container--pad-top-small container--pad-bottom-small container--narrow">
    <h1 class='is-cyan'>{{entry.pageTitle}}</h1>

    <form method="post" accept-charset="UTF-8">

      {% set notice = craft.app.session.getFlash('notice') %}
      {% if notice %}
        <p class='is-notice'>{{ entry.profileUpdated }}</p>
      {% endif %}

      {{ csrfInput() }}

      
      {{ redirectInput('/' ~entry.uri) }}

      {% set formUser = user is defined ? user : currentUser  %}

      {% macro errorList(errors) %}
          {% if errors %}
              <ul class="errors">
                  {% for error in errors %}
                      <li>{{ error }}</li>
                  {% endfor %}
              </ul>
          {% endif %}
      {% endmacro %}

      {% from _self import errorList %}

      <input type="hidden" name="action" value="crm-user-module/user/patient-profile">
      
      <div class="col col--6-md col-no-pad" >

      
      

        <div class='form--group form--group-spaced'>
            <h4 for="email">{{ registerEntry.emailLabel }}</h4>
            <input id="email" type="text" name="email" 
                value="{{ formUser.email }}">

            {% if formUser is defined %}
                {{ errorList(formUser.getErrors('email')) }}
            {% endif %}
        </div>

         <div class='form--group form--group-spaced'>
            <h4 for="condition">{{ registerEntry.conditionLabel }}</h4>

            <div class='custom-select is-dark'>
                <select id="condition"  name="condition">
                    
                    
                     {% for block in registerEntry.conditions %}

                        <option value="{{block.condition_value}}" {% if formUser.condition == block.condition_value%}selected {% endif %}>{{block.condition_label|raw}}</option> 


                      {% endfor %}


                    
                </select>
            </div>

            {% if formUser is defined %}
                {{ errorList(formUser.getErrors('condition')) }}
            {% endif %}
        </div>

      </div>

     

      <div class='form--group form--group-spaced clear-both'>
          <h4>{{entry.gdprTitle}}</h4>
         {{entry.gdprContent|raw}}
          <div class='custom-checkbox'>
              <input type='checkbox' id='opt-in' name='opt-in' value='1' {% if formUser.optIn == 1 %} checked {% endif %} />
              <label for='opt-in'>{{ registerEntry.optInLabel }}</label>
          </div>
      </div>

      <p class='is-error'>{% if errorMessage is defined %}{{ errorMessage }}{% endif %}</p>
      
      

     
      <div class='form--group form--group-spaced'>
          <input type="submit" class='btn btn--shout' value="{{entry.buttonLabel}}">
      </div>
  </form>


  </div>
</section>

{% endblock %}