{% extends "shared/_layout" %} 

{% set mode="patient" %}

{% block content %} 

{% set registerEntry = craft.entries()
    .id(2764)
    .one() %}


<section class="section" >
  <div class="container container--pad-top-small container--pad-bottom-small container--narrow">
    <h1 class='is-cyan'>{{entry.pageTitle}}</h1>

    <form method="post" accept-charset="UTF-8">

      {% set notice = craft.app.session.getFlash('notice') %}
      {% if notice %}
        <p class='is-notice'>{{ notice }}</p>
      {% endif %}
      
      {{ csrfInput() }}
      <input type="hidden" name="action" value="users/send-password-reset-email">
      {{ redirectInput('/forgotpassword') }}

      {% macro errorList(errors) %}
          {% if errors %}
              <ul class="errors">
                  {% for error in errors %}
                      <li>{{ error }}</li>
                  {% endfor %}
              </ul>
          {% endif %}
      {% endmacro %}

       {% from _self import errorList %}

      <div class="col col--6-md col-no-pad" >

      
      

        <div class='form--group form--group-spaced'>
            <h4 for="email">{{ registerEntry.emailLabel }}</h4>
             <input id="loginName" type="text" name="loginName"
          value="{% if loginName is defined %}{{ loginName }}{% else %}{% endif %}">

            {% if formUser is defined %}
                {{ errorList(formUser.getErrors('loginName')) }}
            {% endif %}
        </div>

     

     
       <div class='form--group form--group-spaced'>
          <input type="submit" class='btn btn--shout' value="{{entry.buttonLabel}}">
      </div>

       </div>
  </form>




  </div>
</section>

{% endblock %}