{% requirePatient %}

{% extends "shared/_layout" %} 

{% set mode="patient" %}

{% block content %} 

<div class="patient-content">


  <section class="section section--jumbo">
    {% for block in entry.heroBlock %}
        {% if block.type == "hero" %}
          <div class='section--jumbo-background is-sm-up' style="background-image:url('{{block.hero_image.one().url }}');"></div>
          <div class='section--jumbo-background is-mobile-only' style="background-image:url('{{block.hero_image_mobile.one().url }}');"></div>
          
          <div class="container">
          
                <h1>{{block.hero_title|raw|nl2br}}</h1>
             
          </div>
        {% endif %}
      {% endfor %}
  </section>

  <section class="section section--pad-mid section--pad-top-none--mobile text-center--desktop">
    <div class='container container--narrow'>
      <div class='row'>
        <div class='col--8 push--2 col--8-md push--2-md'>
        
            {{entry.htmlContent|raw}}


        </div>
      </div>

   

    </div>
  </section>

  <section class="section section--lift section--blue ">
    <div class="container">
      <div class='resources--wrap'>

        {% for block in entry.resourceList %}
        {% set resource = block.resource_download.one() %}
        <a target='_blank' href='{% if resource %}{{resource.url}}{% else %}#{% endif %}' class='resource'>
          <div class='resource--inner'>
            <span class='resource--icon resource--icon-{{block.resource_icon}}'></span>
            <img src='{{block.resource_image.one().url}}' />
            <div class='resource--info'>
              <h4>{{block.resource_title|raw}}</h4>
            </div>
            <div class='resource--text'>
              <p>{{block.resource_description}}</p>
            </div>
          </div>
        </a>
        {% endfor %}


      </div>
    </div>
  </section>



  
  

</div>

{% endblock %}