{% extends "shared/_layout" %} 

{% set mode="patient" %}

{% block content %} 

{% if entry2 is defined %}

{% set entry = entry2 %}

{% endif %}

<div class="patient-content">


   <section class="section section--jumbo">
    {% for block in entry.heroBlock %}
        {% if block.type == "hero" %}
          <div class='section--jumbo-background is-sm-up' style="background-image:url('{{block.hero_image.one().url }}');"></div>
          <div class='section--jumbo-background is-mobile-only' style="background-image:url('{{block.hero_image_mobile.one().url }}');"></div>
          
          <div class="container">
          
                <h1>{{block.hero_title|raw|nl2br}}</h1>
             
          </div>
        {% endif %}
      {% endfor %}
  </section>



  <section class="section section--pad-mid section--pad-top-none--mobile">
    <div class='container'>
      <div class='row'>
        <div class='col--5 push--1'>
          

          {{ entry.htmlBlocks[0].block_content|raw}}


        </div>

        <div class='col--5'>
          <img class='is-blocked' alt='List of 6 types of juvenile idiopathic arthritis' src='{{ entry.imageBlocks[0].block_image.one().url}}' />
        </div>

      </div>

    </div>
  </section>

  <section class="section section--blue section--pad-small">
    <div class="container container">
        
        <div class='row'>
          <div class='col--10 push--1'>
            

            {{ entry.htmlBlocks[1].block_content|raw}}


            <img class='is-blocked' alt='Table showing symptoms and features of JIA' src='{{ entry.imageBlocks[1].block_image.one().url}}' />
          </div>
        

          


        </div>
        
    </div>
  </section>

  <section class="section section--pad-mid">
    <div class='container'>
      <div class='row'>
        <div class='col--10 push--1 '>
          

          {{ entry.htmlBlocks[2].block_content|raw}}


        </div>

      </div>

    </div>
  </section>

  <section class="section section--pad-mid section--blue">
    <div class='container'>
      <div class='row'>
        <div class='col--10 push--1 '>
          
          {{ entry.htmlBlocks[3].block_content|raw}}


        </div>
        <div class='col--5 push--1 '>
          
          
          {{ entry.htmlBlocks[4].block_content|raw}}



        </div>

        <div class='col--5'>
          <img class='is-blocked' alt='Doctor writing a prescription' src='{{ entry.imageBlocks[2].block_image.one().url}}' />
        </div>

      </div>

    </div>
  </section>


  <section class="section section--pad-small">
    <div class="container">
        
        <div class='row'>
          <div class='col--10 push--1 '>
            

            {{ entry.htmlBlocks[5].block_content|raw}}

             {% if entry.referenceContent is empty %}

            {% else %}

           <ul class='references'>
              <li>
                <div class='references--title'>{{ entry.reference_title|raw }}</div>
                <div class='references--content'>
                  {{ entry.referenceContent|raw }}

                </div>
              </li>
            </ul>

            {% endif %}
          </div>
        </div>
      
    </div>
  </section>

</div>

{% endblock %}