{% requirePatient %}

{% extends "shared/_layout" %} 

{% set mode="patient" %}

{% block content %} 

<div class="patient-content">


  <section class="section section--jumbo">
     {% for block in entry.heroBlock %}
        {% if block.type == "hero" %}
          <div class='section--jumbo-background is-sm-up' style="background-image:url('{{block.hero_image.one().url }}');"></div>
          <div class='section--jumbo-background is-mobile-only' style="background-image:url('{{block.hero_image_mobile.one().url }}');"></div>
          
          <div class="container">
          
                <h1>{{block.hero_title|raw|nl2br}}</h1>
             
          </div>
        {% endif %}
      {% endfor %}
  </section>

  <section class="section section--pad-mid section--pad-top-none--mobile ">
    <div class='container container--narrow'>
     
        
          


    {{ entry.whatIsTheCoachingTool|raw }}
     
   
    {% if entry.quotes|length > 0 %}
      <div class='quotes'>
    

        <div class='quotes--wrap'>
          {% for block in entry.quotes %}
              <div class='quotes--quote'>{{block.quoteText}}</div>
          {% endfor %}
          
        </div>
      </div>

      {% endif %}

      {{ entry.moreContent|raw }}

    </div>
  </section>

  {% if entry.modules|length > 0 %}
  <section class="section section--lift section--blue ">
    <div class="container">
      <div class='text-center is-wide-only js-cbt-target'>

        <h2>{{entry.modules[0].module_label}}: {{entry.modules[0].module_title}}</h2>
        <p>{{entry.modules[0].module_description}}</p>
        <div class='cbt--frame'>
          <iframe class="cbt--iframe" src="/unzip{{entry.modules[0].module_content.one().url}}/story_html5.html" gesture="media"  allow="encrypted-media" allowfullscreen></iframe>
        </div>
      </div>

      

      <div class='cbt--modules row'>

        {% for block in entry.modules %}
              <a href='#' data-url="/unzip{{block.module_content.one().url}}/story_html5.html" class='cbt--module {% if loop.first %}is-active{% endif %}'>
                <div class='cbt--module-content'>
                  <h4>{{block.module_label}}<br/>{{block.module_title}}</h4>
                  <p>{{block.module_description}}</p>
                </div>
                <img src='{{block.module_image.one().url}}' />
              </a>
        {% endfor %}

       
      
      </div>
    </div>
  </section>

    {% endif %}



   <section class="section section--pad-small">
    <div class="container container--narrow">
        {{ entry.furtherCoachingSupport|raw }}

         {% if entry.referenceContent is empty %}

            {% else %}

           <ul class='references'>
              <li>
                <div class='references--title'>{{ entry.reference_title|raw }}</div>
                <div class='references--content'>
                  {{ entry.referenceContent|raw }}

                </div>
              </li>
            </ul>

            {% endif %}
      
    </div>
  </section>

  

</div>

{% endblock %}