

{% set registerEntry = craft.entries()
    .id(2764)
    .one() %}



        <div class='modal--left'>

            <h3>{{ registerEntry.sectionTitle }}</h3>
            {{ registerEntry.introContent|raw }}
              <form method="post" accept-charset="UTF-8" id='registerForm'>
                {{ csrfInput() }}
                <input type="hidden" name="action" value="crm-user-module/user/register">
                {{ redirectInput('') }}

                {% macro errorList(errors) %}
                    {% if errors %}
                        <ul class="errors">
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endmacro %}

                {% from _self import errorList %}

                <!-- <div class='form--group'>
                    <label for="firstName">First name</label>
                    <input id="firstName" type="text" name="firstName" placeholder=""
                        {%- if user is defined %} value="{{ user.firstName }}"{% endif %}>

                    {% if user is defined %}
                        {{ errorList(user.getErrors('firstName')) }}
                    {% endif %}
                </div>

                <div class='form--group'>
                    <label for="lastName">Last name</label>
                    <input id="lastName" type="text" name="lastName"
                        {%- if user is defined %} value="{{ user.lastName }}"{% endif %}>

                    {% if user is defined %}
                        {{ errorList(user.getErrors('lastName')) }}
                    {% endif %}
                </div> -->

                <div class='form--group'>
                    <!-- <label for="email">Email</label> -->
                    <input id="email" type="text" name="email" placeholder="{{ registerEntry.emailLabel }}"
                        {%- if user is defined %} value="{{ user.email }}"{% endif %}>

                    {% if user is defined %}
                        {{ errorList(user.getErrors('email')) }}
                    {% endif %}
                </div>

                 <div class='form--group'>
                    <!-- <label for="condition">Condition being treated with IDACIO&reg;</label> -->
                    <div class='custom-select'>
                        <select id="condition"  name="condition">
                            <option value="">{{ registerEntry.conditionLabel }}</option>



                            {%- if user is defined and user.condition %} 
                            <option value="{{ user.condition }}" selected>{{ user.condition }}</option>
                            {% endif %}>

                            {% for block in registerEntry.conditions %}

                              <option value="{{block.condition_value}}">{{block.condition_label|raw}}</option> 


                            {% endfor %}

                             
                        </select>
                    </div>

                    {% if user is defined %}
                        {{ errorList(user.getErrors('condition')) }}
                    {% endif %}
                </div>

                <div class='form--group'>
                    <!-- <label for="packCode">Access code</label> -->
                    <input id="packCode" type="text" name="packCode" placeholder="{{ registerEntry.packCodeLabel }}"
                        {%- if user is defined %} value="{{ user.packCode }}"{% endif %}>

                    {% if user is defined %}
                        {{ errorList(user.getErrors('packCode')) }}
                    {% endif %}
                </div>


                <div class='form--group'>
                    <!-- <label for="password">Password</label> -->
                    <input id="password" type="password" name="password" placeholder="{{ registerEntry.passwordLabel }}">

                    {% if user is defined %}
                        {{ errorList(user.getErrors('password')) }}
                    {% endif %}
                </div>


                <div class='form--group'>
                    <!-- <label for="password">Confirm password</label> -->
                    <input id="confirmPassword" type="password" name="confirmPassword" placeholder="{{ registerEntry.confirmPasswordLabel }}">

                    {% if user is defined %}
                        {{ errorList(user.getErrors('confirmPassword')) }}
                    {% endif %}
                </div>

                {% if currentSite.handle == "czech" %}
                   
                        {{registerEntry.contentBeforeCheckboxes}}
                    

                    <div class='form--group clearfix'>
                        <div class='radio-wrap is-float'><input type='radio' name='box-1' value='1' id='box-1-yes'/><label for='box-1-yes'>{{ registerEntry.additionalyes }}</label></div>
                        <div class='radio-wrap is-float'><input type='radio'name='box-1' value='0' id='box-1-no'/><label for='box-1-no'>{{ registerEntry.additionalNo }}</label></div>

                        <label class='is-overflow-hidden'>{{ registerEntry.optInLabel }}</label>
                    </div>

                    <div class='form--group clearfix'>
                        <div class='radio-wrap is-float'><input type='radio' name='box-2' value='1' id='box-2-yes'/><label for='box-2-yes'>{{ registerEntry.additionalyes }}</label></div>
                        <div class='radio-wrap is-float'><input type='radio'name='box-2' value='0' id='box-2-no'/><label for='box-2-no'>{{ registerEntry.additionalNo }}</label></div>

                        <label class='is-overflow-hidden'>{{ registerEntry.additionalFeedback }}</label>
                    </div>


                    <div class='form--group form--final'>
                        <div class='custom-checkbox'>
                            <input type='checkbox' id='confirm-box' name='box-3' value='1' />
                            <label for='confirm-box'>{{ registerEntry.additionalProfessional }}</label>
                        </div>
                    </div>


                {% else %}
                    <div class='form--group form--final'>
                        <div class='custom-checkbox'>
                            <input type='checkbox' id='opt-in' name='opt-in' value='1' />
                            <label for='opt-in'>{{ registerEntry.optInLabel }}</label>
                        </div>
                    </div>


                {% endif %}


                

                <p class='is-error'>{% if errorMessage is defined %}{{ errorMessage }}{% endif %}</p>
                
                

               
                <div class='form--group'>
                    <input type="submit" class='btn btn--alt btn--shout btn--block' value="{{ registerEntry.registerButtonLabel }}">
                </div>
            </form>
        </div>
        <div class='modal--right'>
            <h3>{{ registerEntry.loginSectionTitle }}</h3>
            {{ registerEntry.loginIntroContent|raw }}

            <form method="post" accept-charset="UTF-8" id="patientLoginForm">
            {{ csrfInput() }}
            <input type="hidden" name="action" value="crm-user-module/user/login">

            <div class='form--group'>
                <input id="loginName" type="text" name="loginName" placeholder="{{ registerEntry.loginEmailLabel }}">
            </div>

            <!-- <label for="password">Password</label> -->
            <div class='form--group'>
                <input id="password" type="password" name="password" placeholder='{{ registerEntry.loginPasswordLabel }}'>


            </div>

           <p class='is-error'>{% if errorMessage is defined %}{{ errorMessage }}{% endif %}</p>
            


             <p class='small is-forgot'><a href="{{ url('forgotpassword') }}">{{ registerEntry.forgotPasswordLabel }}</a></p>

            <!-- <div class='form--group form--final'>
                <div class='custom-checkbox'>
                    <input type='checkbox' id='rememberMe' name='rememberMe' value='1' />
                    <label for='rememberMe'>{{ registerEntry.rememberMeLabel }}</label>
                </div>
            </div> -->

            <div class='form--group'>
                    <input type="submit" class='btn btn--shout btn--block' value="{{ registerEntry.loginButtonLabel }}">
            </div>



            
        </form>

       
        </div>
    