{% requirePatient %}

{% extends "shared/_layout" %} 

{% set mode="patient" %}

{% block content %} 

<div class="patient-index">

  <section class="section section--hero section--hero-restricted"  data-help="{{genericContent.scrollDown}}">
    <div class="container h-100">
      <div class="col push--7 col--5 h-100" >
        <div class="patient-index--hero-content patient-index--restricted-hero-content">
          
            {% for block in entry.landingHeroBlock %}
              {% if block.type == "hero" %}
                <h1>{{block.hero_title|raw}}</h1>
                {{block.hero_subtitle}}
              {% endif %}
            {% endfor %}

          
        </div>
      </div>
    </div>
  </section>

   <section class="section  section--pad-mid">
    <div class="container container">
        
        <div class='row'>
          <div class='col--10 push--1 col--8-md push--2-md'>
            
            {{ entry.htmlContent }}


          </div>
        


        </div>
        
      
    </div>
  </section>

  <section class="section section--dark-blue  section--pad-small">
    <div class="container container">
        
        {% if entry.imageBlocks[2] is defined %}
        <div class='row'>
          
          {% if entry.imageBlocks[0]['mobile_image'] is defined and entry.imageBlocks[0].mobile_image.one() %}
             <div class='col--4 '>
              <img class='is-blocked is-sm-up' src='{{ entry.imageBlocks[0].block_image.one().url}}' />
              <img class='is-blocked is-mobile-only' src='{{ entry.imageBlocks[0].mobile_image.one().url}}' />
            </div>
          {% else %}
             <div class='col--4 '><img class='is-blocked' src='{{ entry.imageBlocks[0].block_image.one().url}}' /></div>
          {% endif %}

          {% if entry.imageBlocks[1]['mobile_image'] is defined and entry.imageBlocks[1].mobile_image.one() %}
             <div class='col--4 '>
              <img class='is-blocked is-sm-up' src='{{ entry.imageBlocks[1].block_image.one().url}}' />
              <img class='is-blocked is-mobile-only' src='{{ entry.imageBlocks[1].mobile_image.one().url}}' />
            </div>
          {% else %}
             <div class='col--4 '><img class='is-blocked' src='{{ entry.imageBlocks[1].block_image.one().url}}' /></div>
          {% endif %}

          {% if entry.imageBlocks[2]['mobile_image'] is defined and entry.imageBlocks[2].mobile_image.one() %}
             <div class='col--4 '>
              <img class='is-blocked is-sm-up' src='{{ entry.imageBlocks[2].block_image.one().url}}' />
              <img class='is-blocked is-mobile-only' src='{{ entry.imageBlocks[2].mobile_image.one().url}}' />
            </div>
          {% else %}
             <div class='col--4 '><img class='is-blocked' src='{{ entry.imageBlocks[2].block_image.one().url}}' /></div>
          {% endif %}


       
        </div>
        {% endif %}


      </div>
  </section>

  <section class="section  section--pad-mid">
    <div class="container container">
        
        <div class='zoom-boxes--wrap '>

          {% for block in entry.zoomBoxes %}
           <a class='zoom-box' href='{{ block.box_link.one().url }}'>
            <div class='zoom-box--inner'>
              <div class='zoom-box--img'>
                

                  <img  src='{{block.box_image.one().url }}' />                              
             
                

                
              </div>
              <div class='zoom-box--meta'>
                {{ block.boxContent}}

              </div>
            </div>
          </a>
          {% endfor %}


        

      </div>
        
      
    </div>
  </section>

</div>

{% endblock %}