<div class="footer">
  <div class="container">
   
        <ul class='is-main'>
          {% set footerEntries = craft.entries()
            .slug('not 404')
            .type('footer')
            .all() %}

          {% nav entry in footerEntries %}
            {% if entry.showInNav is defined and entry.showInNav == 1 and entry.parent == null %}
              <li>
                {% if entry.title == "Kontakt" %}

                <a {# class='allow-external' #} href="https://www.fresenius-kabi.com/de/kontakt" target="_blank">{{ entry.title }}</a>
                {% else %}
                  <a href="{{ entry.url }}">{{ entry.title }}</a>
                
                {% endif %}
              </li>
              {% endif %}
          {% endnav %}

         
        </ul>

    <div class='is-left'>
      <ul>
        <li>{{ genericContent.copyright }}</li>
        <li>{{ genericContent.rightsReserved }}</li>
      </ul>
      <p>{% if jobCode is defined%}{{ jobCode }}{% endif %} {% if dateOfPrep is defined%}{{ dateOfPrep }}{% endif %}&nbsp;</p>
    </div>
    <a class='is-logo' href='{{ genericContent.footerLogoLink }}' target='_blank'><img src='/images/logos/fresenius-kabi.png' /></a>
  </div>
</div>