
<ul>

  {% set parent = craft.entries()
    .slug(hcpSlug.hcpSlug)
    .one() %}

  {% if parent %}
    {% set navs = parent.children %}
  {% endif %}


  {% for child in navs %}
    {% if child.showInNav is defined and child.showInNav == 1 %}
      <li><a class="{{ child.id == entry.id ? 'is-active' }}"  href='{{ child.url }}'>{{child}}</a></li>
    {% endif %}
  {% endfor %}


 

</ul>