{% set patientIndex = craft.entries()
    .id(666)
    .one() %}

    {% set hcpIndex = craft.entries()
    .id(3029)
    .one() %}

{% set patientHome = craft.entries()
    .id(213)
    .one() %}

    {% set patientRegister = craft.entries()
    .id(2764)
    .one() %}

{% set patientProfile = craft.entries()
    .id(3004)
    .one() %}


<div class='header'>
  <div class="container">
    {% if currentUser %}

     {% set patientIndex = craft.entries()
    .id(666)
    .one() %}

    <a href='/{{ patientHome.uri }}' class='is-logo'><img src='/images/logos/kabicare.png' /></a>
    {% else %}
    <a href='/' class='is-logo'><img src='/images/logos/kabicare.png' /></a>
    {% endif %}
    
    
    {% if mode is defined %}
      <div class='header--mobile-button'></div>
      {% if mode == "patient" %}

        <div class='header--content'>
          <div class='header--content-inner'>
            {% if entry.id == 666 %}
            <ul {% if currentUser %} class='is-wide-only'{% endif %}>
              
              <li><a class='is-scroll' href='/{{ patientIndex.uri }}#autoimmune'>{{ genericContent.autoimmuneNavLabel }}</a></li>
              <li><a class='is-scroll' href='/{{ patientIndex.uri }}#biologics'>{{ genericContent.biologicsNavLabel }}</a></li>
            </ul>
            {% endif %}
            {% if currentUser %}
              <div class='is-except-wide'>
                {% include('/shared/_patient-nav-authed') %}
              </div>
              <a href='/{{patientProfile.uri}}' class='header--profile is-wide-only'></a>
              <a href='/{{patientProfile.uri}}' class='header--profile is-except-wide btn btn--alt'>Your account</a>
              <a href='{{ logoutUrl }}' class='btn btn--alt'>{{ genericContent.signOutLabel }}</a>
            {% else %}
              <a href='{{ patientRegister.uri }}' class='is-sign-in btn btn--alt'>{{ genericContent.signInLabel }}</a>
            {% endif %}
          </div>
          
        </div>



      {% endif %}

      {% if mode == "hcp" %}

        <div class='header--content'>
          <div class='header--content-inner'>
             {% if entry.id == 3029 %}
               <ul {% if currentUser %} class='is-wide-only'{% endif %}>
             
                <li><a class='is-scroll' href='/{{ hcpIndex.uri }}#kabicare'>{{ genericContent.whatIsKabicareLabel }}</a></li>
                <li><a class='is-scroll' href='/{{ hcpIndex.uri }}#biologics'>{{ genericContent.biologicsAndBiosimilarsLabel }}</a></li>
              </ul>
              {% endif %}
              {% if hcpUser %}
              <div class='is-except-wide'>
                {% include('/shared/_hcp-nav-authed') %}
              </div>
              <a href='{{ logoutUrl }}' class='btn btn--alt'>{{ genericContent.signOutLabel }}</a>
              {% else %}
               <a href='/hcp/register' class='is-sign-in btn btn--alt'>{{ genericContent.signInLabel }}</a>
              {% endif %}
             
           
          </div>
          
        </div>



      {% endif %}


    {% endif %}
  </div>
</div>
{% if mode is defined %}
  {% if mode == "patient" %}
    {% if currentUser %}
    <div class='header--authed'>
      <div class="container">
        {% include('/shared/_patient-nav-authed') %}
      </div>
    </div>
    {% endif %}
  {% endif %}

  {% if mode == "hcp" %}
    {% if hcpUser %}
    <div class='header--authed'>
      <div class="container">
        {% include('/shared/_hcp-nav-authed') %}
      </div>
    </div>
    {% endif %}
  {% endif %}


{% endif %}
