<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KabiCare</title>

    {% if currentSite.handle =='czech' or currentSite.handle =='slovakia' or currentSite.handle =='croatia'  %}
    <link rel="stylesheet" href="https://use.typekit.net/noz5jgx.css">
    {% else %}
    <link rel="stylesheet" href="https://use.typekit.net/bxt7ony.css">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/css/styles.min.css?v3.6" >
    
</head>
<body class="{{currentSite.handle}}{% if currentUser %} is-authed{% endif %} {% if hcpUser %} is-authed{% endif %}">

  

  {% if hideNav is defined %}

  {% else %}
    {% include('/shared/_header') %}
  {% endif %}

  <div class="wrap{% if hideNav is defined %} wrap--no-nav{% endif %}">
  
  {% if entry is defined %}
    {% set dateOfPrep = entry.dateOfPrep %}
    {% set jobCode = entry.jobCode %}
  {% endif %}

  {% block content %} 
    MAIN CONTENT  PLACEHOLDER
  {% endblock %}
  
  {% include('/shared/_footer') %}


  </div>

  {% if getCookie('_cookienotifier_accepted') or getCookie('_cookienotifier_refused') %}

  {% else %}

  <div class='cookie--popup'>
    <div class='container'>
      <div class='cookie--popup-inner'>
        <div class='cookie--popup-inner-left'>
          {{consentBox.consentText|raw}}
        </div>
        <div class='cookie--popup-inner-right'>
          <a href='#' class='btn btn--shout js-cookie-agree'>{{consentBox.agreeButton}} &gt;</a>
          <a href='#' class='btn btn--shout js-cookie-refuse'>{{consentBox.refuseButton}} &gt;</a>
        </div>
      </div>
    </div>
  </div>

  {% endif %}



  <div class='modal--wrap'>
  {% if not currentUser %}
    {% if mode is defined %}
      {% if mode == "patient" %}
      <div class='modal-outer modal--login'>
        <div class='modal-body'>
          <div class='modal '>
            <div class='modal--close modal--close-blue'></div>
            {% include('/pages/_types/patient__register-inner') %}
          </div>
        </div>
      </div>
     
      
      {% endif %}

     

    {% endif %}
  {% endif %}

  {% if not hcpUser %}
    {% if mode is defined %}
      {% if mode == "hcp" %}



    {% if genericContent.hcpAuthMethod == "registration" %}
     <div class='modal-outer modal--login '>
        <div class='modal-body'>
        <div class='modal '>
          <div class='modal--close modal--close-blue'></div>
         {% include('/pages/_types/hcp__register-inner-full') %}
        </div>
      </div>
      </div>
    {% elseif genericContent.hcpAuthMethod == "doccheck" %}
     <div class='modal-outer modal--login modal--login-hcp'>
        <div class='modal-body'>
        <div class='modal '>
          <div class='modal--close modal--close-blue'></div>
          {% include('/pages/_types/hcp__register-inner') %}
        </div>
      </div>
      </div>

      {% elseif genericContent.hcpAuthMethod == "modal" %}
     <div class='modal-outer modal--login modal--confirm'>
        <div class='modal-body'>
        <div class='modal '>
          <div class='modal--close'></div>
          {% include('/pages/_types/hcp__register-inner-modal') %}
        </div>
      </div>
      </div>



    {% endif %}

      
     
     
      
      {% endif %}

    {% endif %}
  {% endif %}

  


   <div class='modal-outer modal--external'>
    <div class='modal-body'>
    <div class='modal'>

        <div class='modal--close'></div>
        
       
          {{ genericContent.externalLinkPopup|raw }}

           <a href='#' target='_blank' class='external--confirm btn btn--block btn--alt btn--shout'>{{ genericContent.externalLinkPopupConfirm }}</a>

    </div>
        

       
    </div>
  </div>

  <div class='modal-outer modal--video'>
    <div class='modal-body'>
    <div class='modal'>
        
        
        <div class='modal--close'></div>

        <video controls preload></video>
      </div>
       
    </div>
  </div>

  <div class='modal-outer modal--lightbox'>
    <div class='modal-body'>
    <div class='modal'>
        
        
        <div class='modal--close'></div>

        <div class='modal--image-wrap'></div>
      </div>
       
    </div>
  </div>



</div>

  <script>
  window.CSRF_TOKEN = "{{  craft.app.request.csrfToken }}";
  </script>

  <script>
    window.genericError = "{{ genericContent.somethingWentWrong }}";
  </script>
    <script src="/js/scripts.js?v0.04"></script>
  
  {% if getCookie('_analytics_accepted') %}

  {{ genericContent.analyticsCode|raw }}

  {% endif %}


</body>
</html>
