<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KabiCare</title>
    <link rel="stylesheet" href="https://use.typekit.net/bxt7ony.css">

    <link rel="stylesheet" type="text/css" href="/css/styles.min.css?v2" >
    
</head>
<body>
 

  <div class="wrap wrap--no-nav">
  
    <div class="landing holding ">

      <div class="landing--intro">
        <div class="container">
          <h1><span class='is-logo'>KabiCare</span></h1>
          

          {% block content %} 
            MAIN CONTENT  PLACEHOLDER
          {% endblock %}
          
        </div>
      </div>

      

    </div>
    
    <div class="footer">
      <div class="container">
        
          <div class='mobile-spacer'></div>
        
          <a class='is-logo' href='https://www.fresenius-kabi.com/' target='_blank'><img src='/images/logos/fresenius-kabi.png' /></a>
      </div>
    </div>
 </div>
</body>
</html>
