
<ul>
  
  {% set parent = craft.entries()
    .id(666)
    .one() %}

  {% if parent %}
    {% set navs = parent.children %}
  {% endif %}


  {% for child in navs %}
    {% if child.showInNav is defined and child.showInNav == 1 %}
      <li><a class="{{ child.id == entry.id ? 'is-active' }}"  href='{{ child.url }}'>{{child}}</a></li>
    {% endif %}
  {% endfor %}


  
 <!--  <li><a href='/patient/condition'>Your condition</a></li>
  <li><a href='/patient/biologics'>Questions about biologics</a></li>
  <li><a href='/patient/understanding-idacio'>Understanding  IDACIO<sup>&reg;</sup></a></li>
  <li><a href='/patient/coaching'>Coaching tools</a></li>
  <li><a href='/patient/resources'>Helpful resources</a></li>
  {% if  craft.request.lastSegment != 'patient' %}
  <li class='is-except-wide'><a href='/patient'>&lt; Go back to the patient homepage</a></li>
  {% endif %} -->


</ul>