<div class='modal--wrap'>
    <div class='modal'>
        <div class='modal--left'>

                <h3>Register</h3>
                <p>If you have been prescribed IDACIO by your HCP, please register below to access information and support personalised for you to help you manage your condition.</p>
              <form method="post" accept-charset="UTF-8" id='registerForm'>
                {{ csrfInput() }}
                <input type="hidden" name="action" value="crm-user-module/user/register">
                {{ redirectInput('') }}

                {% macro errorList(errors) %}
                    {% if errors %}
                        <ul class="errors">
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endmacro %}

                {% from _self import errorList %}

                <!-- <div class='form--group'>
                    <label for="firstName">First name</label>
                    <input id="firstName" type="text" name="firstName" placeholder=""
                        {%- if user is defined %} value="{{ user.firstName }}"{% endif %}>

                    {% if user is defined %}
                        {{ errorList(user.getErrors('firstName')) }}
                    {% endif %}
                </div>

                <div class='form--group'>
                    <label for="lastName">Last name</label>
                    <input id="lastName" type="text" name="lastName"
                        {%- if user is defined %} value="{{ user.lastName }}"{% endif %}>

                    {% if user is defined %}
                        {{ errorList(user.getErrors('lastName')) }}
                    {% endif %}
                </div> -->

                <div class='form--group'>
                    <!-- <label for="email">Email</label> -->
                    <input id="email" type="text" name="email" placeholder="Email address"
                        {%- if user is defined %} value="{{ user.email }}"{% endif %}>

                    {% if user is defined %}
                        {{ errorList(user.getErrors('email')) }}
                    {% endif %}
                </div>

                 <div class='form--group'>
                    <!-- <label for="condition">Condition being treated with IDACIO&reg;</label> -->
                    <div class='custom-select'>
                        <select id="condition"  name="condition">
                            <option value="">Condition being treated with IDACIO&reg;</option>
                            {%- if user is defined and user.condition %} 
                            <option value="{{ user.condition }}" selected>{{ user.condition }}</option>
                            {% endif %}>
                            <option value="rheumatoid arthritis">Rheumatoid Arthritis</option> 
                            <option value="spondyloarthropathies">Spondyloarthropathies</option> 
                            <option value="ankylosing spondylitis">Ankylosing Spondylitis</option> 
                            <option value="psoriasis and psoriatic arthritis">Psoriasis and Psoriatic Arthritis</option> 
                            <option value="inflammatory bowel disease">Inflammatory Bowel Disease</option> 
                            <option value="non-infectious uveitis">Non-infectious Uveitis</option> 
                            <option value="hidradenitis suppurativa">Hidradenitis Suppurativa</option> 
                        </select>
                    </div>

                    {% if user is defined %}
                        {{ errorList(user.getErrors('condition')) }}
                    {% endif %}
                </div>

                <div class='form--group'>
                    <!-- <label for="packCode">Access code</label> -->
                    <input id="packCode" type="text" name="packCode" placeholder="Access code"
                        {%- if user is defined %} value="{{ user.packCode }}"{% endif %}>

                    {% if user is defined %}
                        {{ errorList(user.getErrors('packCode')) }}
                    {% endif %}
                </div>


                <div class='form--group'>
                    <!-- <label for="password">Password</label> -->
                    <input id="password" type="password" name="password" placeholder="Password">

                    {% if user is defined %}
                        {{ errorList(user.getErrors('password')) }}
                    {% endif %}
                </div>

                <div class='form--group'>
                    <!-- <label for="password">Confirm password</label> -->
                    <input id="confirmPassword" type="password" name="confirmPassword" placeholder="Confirm password">

                    {% if user is defined %}
                        {{ errorList(user.getErrors('confirmPassword')) }}
                    {% endif %}
                </div>

                <div class='form--group form--final'>
                    <div class='custom-checkbox'>
                        <input type='checkbox' id='opt-in' name='opt-in' value='1' />
                        <label for='opt-in'>Email opt in (Copy TBC)</label>
                    </div>
                </div>

                <p class='is-error'>{% if errorMessage is defined %}{{ errorMessage }}{% endif %}</p>
                
                

               
                <div class='form--group'>
                    <input type="submit" class='btn btn--alt btn--shout btn--block' value="Register">
                </div>
            </form>
        </div>
        <div class='modal--right'>
            <h3>Log In</h3>
            <p>Once registered, use the fields below to log in.</p>

            <form method="post" accept-charset="UTF-8" id="patientLoginForm">
            {{ csrfInput() }}
            <input type="hidden" name="action" value="users/login">

            <div class='form--group'>
                <input id="loginName" type="text" name="loginName" placeholder="Email address">
            </div>

            <!-- <label for="password">Password</label> -->
            <div class='form--group'>
                <input id="password" type="password" name="password" placeholder='Password'>


            </div>

           <p class='is-error'>{% if errorMessage is defined %}{{ errorMessage }}{% endif %}</p>
            


             <p class='small is-forgot'><a href="{{ url('forgotpassword') }}">Forgot password?</a></p>

            <div class='form--group form--final'>
                <div class='custom-checkbox'>
                    <input type='checkbox' id='rememberMe' name='rememberMe' value='1' />
                    <label for='rememberMe'>Remember me</label>
                </div>
            </div>

            <div class='form--group'>
                    <input type="submit" class='btn btn--shout btn--block' value="Log in">
            </div>



            
        </form>

       
        </div>
    </div>
</div>